<!DOCTYPE html>
<html lang="en">
<head>
  {{> head defaultPageTitle='Untitled'}}
</head>
<body class="article graphgist{{#with (or asciidoc.attributes.role page.role)}} {{{this}}}{{/with}}{{#with (or page.attributes.theme "developer")}} {{{this}}}{{/with}}">
{{> header}}
{{> graphgists-header}}

<main class="article">
  <div class="content">
    <article class="doc">
      <div class="sect1">
        <div class="sectionbody">
          {{> breadcrumbs}}
          <h2>GraphGists tagged as <span id="kb-category-title">{{page.attributes.category}}</span></h2>
          <ul class="graphgists">
          {{#each page.attributes.graphgist-pages}}
            <li>{{> graphgist-card }}</li>
          {{/each}}
          </ul>
        </div>
      </div>
    </article>
  </div>
</main>

{{> footer}}

</body>
</html>

