{
  "extends": "standard",
  "rules": {
    "arrow-parens": ["error", "always"],
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline"
    }],
    "brace-style": ["warn", "1tbs", { "allowSingleLine": true }],
    "max-len": [1, 160, 2],
    "spaced-comment": "off"
  }
}
