{{#unless page.attributes.origin-private}}
  {{#if (and page.fileUri (not env.CI))}}
    <div class="edit-this-page"><a href="{{page.fileUri}}">Edit this Page</a></div>
  {{else if (and page.editUrl (or env.FORCE_SHOW_EDIT_PAGE_LINK (not page.origin.private)))}}
    {{#with (edit-url-text page)}}
    <div class="edit-this-page"><a href="{{{this.url}}}">{{{this.text}}}</a></div>
    {{/with}}
  {{/if}}
{{/unless}}