<div class="sect1 hero">
  <h2 id="_neo4j_developer_resources"><a class="anchor" href="/graphgists/"></a>GraphGists
  </h2>
  <div class="sectionbody">
    {{#if (eq page.attributes.layout 'graphgist-index')}}
    <div class="paragraph">
      <p>Use case and industry specific graph examples designed to inspire you towards your Graph epiphany.</p>
    </div>
    {{/if}}
  </div>
</div>
