
    <section class="hero">
        <div class="row">
            <div class="columns medium-12">
                <h1>Knowledge Base</h1>

                <div class="kb-search" id="kb-search-button">
                    <div class="search-placeholder">
                        Search Knowledge Base
                    </div>
                    <div class="search-shortcut">
                        shortcut "/"
                    </div>
                    <div class="kb-search-icon">
                        <svg viewBox="0 0 23 23" role="button">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round"
                                stroke-linejoin="round">
                                <g transform="translate(-2.000000, -2.000000)" stroke="#cbd5e0" stroke-width="1.5">
                                    <circle
                                        transform="translate(11.389364, 11.388564) rotate(-23.025000) translate(-11.389364, -11.388564) "
                                        cx="11.3893642" cy="11.3885639" r="8.056"></circle>
                                    <path d="M17.0853333,17.0844444 L23.3333333,23.3333333" stroke="#cbd5e0"></path>
                                </g>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </section>