  <div class="toggle-menu">
    <label class="form-item-label cursor-pointer">
      <input type="checkbox" role="checkbox" id="toggle-enterprise" checked="true">
      <span>Enterprise Edition</span>
    </label>
  </div>
  <aside class="toc sidebar" data-title="{{or page.attributes.toctitle ''}}"
  data-levels="{{{or page.attributes.toclevels 2}}}">
  <div class="toc-menu">

    <div class="toc-menu-placeholder"></div>
  </div>
</aside>