{{#if (eq page.attributes.theme 'cheat-sheet') }}
  <aside class="toc sidebar" data-title="{{or page.attributes.toctitle ''}}"
  data-levels="{{{or page.attributes.toclevels 2}}}">
  <div class="toc-menu">
    <div class="toc-menu-placeholder"></div>
  </div>
</aside>
{{else}}


<div class="nav-panel-menu is-active" data-panel="menu">
  {{#with page.navigation}}
    {{#with (nav-aggregate this @root.page.attributes.additionalNav )}}
      <nav class="nav-menu nav-menu-aggregated">
        {{> nav-tree navigation=this }}
      </nav>
    {{/with}}
  {{/with}}

</div>
{{/if}}