<div class="nav-container"{{#if page.component}} data-component="{{page.component.name}}" data-version="{{page.version}}"{{/if}}>
  <aside class="nav">
    <div class="panels">

      {{> nav-explore}}

      <div class="nav-panel-menu is-active" data-panel="menu">
        <nav class="nav-menu">
        
        {{#if (ne @root.page.module 'ROOT')}}
        
        {{#with page.navigation}}
        <div class="nav-module">
        {{> nav-tree navigation=this show=@root.page.module}}
        </div>
        {{/with}}

        {{/if}}

        {{#if (or @root.page.attributes.show-root-nav (eq @root.page.module 'ROOT') )}}
                
        {{#with page.navigation}}
        <div class="nav-root">
        {{> nav-tree navigation=this show="ROOT"}}
        </div>
        {{/with}}
        
        {{/if}}
        

      </nav>
    </div>
      
      
      
      {{#unless page.attributes.disablefeedback}}
        {{> feedback}}
      {{/unless}}
    </div>
  </aside>
</div>
