{{#if (eq page.attributes.theme 'cheat-sheet') }}
  <aside class="toc sidebar" data-title="{{or page.attributes.toctitle ''}}"
  data-levels="{{{or page.attributes.toclevels 2}}}">
  <div class="toc-menu">
    <div class="toc-menu-placeholder"></div>
  </div>
</aside>
{{else}}
<div class="nav-panel-menu is-active{{#unless page.attributes.disablefeedback}} has-feedback{{/unless}}" data-panel="menu">
    <nav class="nav-menu">
    {{#with page.navigation}}{{> nav-tree navigation=this module=@root.page.module}}{{/with}}
  </nav>
</div>
{{/if}}