<div class="nav-container"{{#if page.component}} data-component="{{page.component.name}}" data-version="{{page.version}}"{{/if}}>
  <aside class="nav">
    <div class="panels">



      <div class="nav-panel-menu is-active" data-panel="menu">
        <nav class="nav-menu">

          {{!-- add link back to home --}}
          {{!-- {{#unless page.home}} --}}
          {{!-- {{#if page.attributes.show-home-link}} --}}
          <ul class="nav-list docs-home-link">
            <li class="nav-item home-link{{#if page.home}} is-home{{/if}}" data-depth="1" aria-label="home-link">
              {{#with site.homeUrl}}
              <a href="{{{relativize this}}}" aria-label="Go to docs home page">Docs home</a>
              {{/with}}
            </li>
          </ul>
          {{!-- {{/if}} --}}
          {{!-- {{/unless}} --}}
        
        {{#if (ne @root.page.module 'ROOT')}}
        
        {{#with page.navigation}}
        <div class="nav-module">
        {{> nav-tree navigation=this show=@root.page.module}}
        </div>
        {{/with}}

        {{/if}}

        {{#if (or @root.page.attributes.show-root-nav (eq @root.page.module 'ROOT') )}}
                
        {{#with page.navigation}}
        <div class="nav-root">
        {{> nav-tree navigation=this show="ROOT"}}
        </div>
        {{/with}}
        
        {{/if}}
        

      </nav>
    </div>
      
      
      
      {{#unless page.attributes.disablefeedback}}
        {{> feedback}}
      {{/unless}}
    </div>
  </aside>
</div>
