<div class="nav-container"{{#if page.component}} data-component="{{page.component.name}}" data-version="{{page.version}}"{{/if}}>
  <aside class="nav">
    <div class="panels">
      {{#unless (eq page.attributes.layout 'docs-ndl') }}
      <div class="selectors">
        {{> nav-selectors}}
      </div>
      {{/unless}}
      {{> nav-menu}}
      {{#unless page.attributes.disablefeedback}}
        {{> feedback}}
      {{/unless}}
    </div>
  </aside>
</div>
