<div class="navbar-brand">
  <a class="navbar-item" href="/">
    <img class="navbar-logo" src="https://dist.neo4j.com/wp-content/uploads/20230926084108/Logo_FullColor_RGB_TransBG.svg" alt="{{ site.title }}" />
  </a>
  <a href="/docs/" class="navbar-item no-left-padding" aria-label="Docs">Documentation</a>
</div>