{{#unless (eq page.attributes.pagination undefined)}}
{{#if (or page.previous page.next)}}
<nav class="pagination">
  {{#unless (eq page.attributes.pagination "next")}}
  {{#with page.previous}}
  <span class="prev"><a href="{{{relativize ./url}}}">{{{./content}}}</a></span>
  {{/with}}
  {{/unless}}

  {{#unless (eq page.attributes.pagination "previous")}}
  {{#with page.next}}
  <span class="next"><a href="{{{relativize ./url}}}">{{{./content}}}</a></span>
  {{/with}}
  {{/unless}}
</nav>
{{/if}}
{{/unless}}
