<div class="search" id="search">
    <div class="search-container">
        <form class="search-form">
            <label for="search_input">Search Neo4j.com</label>

            <input id="search_input" type="text" name="search"
                placeholder="Try &quot;MATCH clause&quot; or &quot;Monitoring Queries&quot;">
            <div class="search-icon">
                <svg width="16px" height="22px" viewBox="0 0 23 23" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" class="fill-current float-right" id="submit_search"
                    role="button" title="Search Website">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round"
                        stroke-linejoin="round">
                        <g transform="translate(-2.000000, -2.000000)" stroke="#a0aec0" stroke-width="1.5">
                            <circle
                                transform="translate(11.389364, 11.388564) rotate(-23.025000) translate(-11.389364, -11.388564) "
                                cx="11.3893642" cy="11.3885639" r="8.056"></circle>
                            <path d="M17.0853333,17.0844444 L23.3333333,23.3333333" ></path>
                        </g>
                    </g>
                </svg>
            </div>
            <div class="search-icon">
                <svg width="14px" height="22px" viewBox="0 0 22 22" role="button" class="cancel" id="close_search">
                    <line x1="19.5833333" y1="0.416666667" x2="0.416666667" y2="19.5833333"></line>
                    <line x1="19.5833333" y1="19.5833333" x2="0.416666667" y2="0.416666667"></line>
                </svg>
            </div>
        </form>
        <div class="search-results"></div>

        <div class="search-filters hidden">
            <div class="search-filters-header">
                <h2>Filter By Category</h2>
                <div class="search-filters-icon">
                    <svg width="14px" height="22px" viewBox="0 0 22 22" role="button" class="cancel" id="hide_filters">
                        <line x1="19.5833333" y1="0.416666667" x2="0.416666667" y2="19.5833333"></line>
                        <line x1="19.5833333" y1="19.5833333" x2="0.416666667" y2="0.416666667"></line>
                    </svg>
                    <svg width="15" height="8" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg" id="show_filters">
                        <path d="M1 7L8 1L14.5 7" stroke="#718096"/>
                    </svg>
                </div>
            </div>

            <div class="search-filters-content">
            </div>
        </div>

    </div>
</div>