{{#unless page.attributes.no-dark-mode}}
<div id="theme-dropdown" class="navbar-item has-dropdown is-hoverable docs">
    <span class="navbar-link">Theme</span>
    <div class="navbar-dropdown navbar-dropdown-narrow">
    <div class="navbar-item project" data-theme="light">
        <span class="project-name">Light</span>
    </div>
    <div class="navbar-item project" data-theme="dark">
        <span class="project-name">Dark</span>
    </div>
    <div class="navbar-item project" data-theme="system">
        <span class="project-name">System</span>
    </div>
    </div>
</div>
{{else}}
<span id ="theme-dropdown" class="no-dark-mode hidden"></span>
{{/unless}}