<div class="feedback training-help">
  <div class="header question">
    <p><strong>Need help?</strong> <a href="https://community.neo4j.com/c/general/online-training/116" target="_blank" rel="noopener">Ask in the Neo4j Community</a></p>
  </div>
</div>
