.body {
  word-wrap: break-word; /* aka overflow-wrap; used when hyphens are disabled or don't do the trick */
}

@media screen and (min-width: 1024px) {
  .body {
    display: flex;
  }
}

.show-for-sr, .show-on-focus {
  position: absolute!important;
  width: 1px!important;
  height: 1px!important;
  padding: 0!important;
  overflow: hidden!important;
  clip: rect(0,0,0,0)!important;
  white-space: nowrap!important;
  border: 0!important;
}
