.arrange-options ul {
  margin: 1rem 0 !important;
  padding: 0 !important;
  min-height: 1.5rem;
}

.arrange-options .arrange-message {
  font-size: 0.75rem;
  color: rgba(var(--colors-neutral-60));
  border-bottom: 1px solid var(--color-grey-300);
  margin: 0 0 0.25rem 0;
  padding-bottom: 0.25rem;
}

.arrange-options li,
.arrange pre code span {
  display: inline-block;
  background: var(--color-grey-100);
  border: 1px solid var(--color-grey-200);
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  margin: 0 0.5rem 0 0;
  font-family: var(--monospace-font-family);
  cursor: pointer;
}

.arrange pre code span {
  background: var(--color-white);
}
