@media screen and (min-width: 1024px) {
  body.cheat-sheet .doc {
    flex: auto;
    font-size: var(--doc-font-size--desktop);
    margin: var(--doc-margin--desktop);
    max-width: var(--cheat-sheet-max-width--desktop);
    min-width: 0;
    padding-bottom: 4rem;
  }
}

body.cheat-sheet {
  opacity: 0;
}

body.cheat-sheet .article > .content {
  background: var(--pre-background);
  padding-top: 0;
  margin-top: 0;
}

/*  navbar */

body.cheat-sheet .navbar,
body.cheat-sheet .search .search-container .search-form {
  background: var(--color-white);
  border-top-color: var(--color-docs);
}

body.cheat-sheet .navbar,
body.cheat-sheet .navbar-brand .navbar-item:first-child,
body.cheat-sheet .navbar-brand .navbar-item:first-child a {
  color: rgba(var(--colors-neutral-60));
}

@media screen and (min-width: 1024px) {
  body.cheat-sheet .navbar-end > .navbar-item,
  body.cheat-sheet .navbar-end .navbar-link {
    color: rgba(var(--colors-neutral-60));
  }

  body.cheat-sheet .navbar-end > a.navbar-item:hover,
  body.cheat-sheet .navbar-end .navbar-link:hover {
    color: rgba(var(--colors-neutral-60));
  }

  body.cheat-sheet .navbar-end .navbar-link::after {
    border-color: rgba(var(--colors-neutral-60));
  }

  body.cheat-sheet .navbar-item.has-dropdown:hover .navbar-link {
    color: rgba(var(--colors-neutral-60));
  }
}

body.cheat-sheet .navbar-burger {
  color: rgba(var(--colors-neutral-60));
}

body.cheat-sheet .navbar-burger span {
  background: rgba(var(--colors-neutral-60));
}

body.cheat-sheet .doc .button {
  background: rgba(var(--colors-baltic-50));
  color: var(--color-white);
}

body.cheat-sheet .doc .button:hover {
  background: rgba(var(--colors-baltic-60));
  color: var(--color-white);
}

body.cheat-sheet .nav-item .nav-item::before,
body.cheat-sheet .toc-menu li a::before {
  background: rgba(var(--colors-baltic-30));
}

body.cheat-sheet .tooltip {
  border-bottom-color: var(--color-docs);
}

body.cheat-sheet .tooltip--top::after {
  border-bottom-color: var(--color-docs);
}

body.cheat-sheet .tooltip.tooltip--bottom::after {
  border-top-color: var(--color-docs);
}

body.cheat-sheet #preamble .abstract .title,
body.cheat-sheet #preamble .abstract blockquote {
  border-left-color: var(--color-docs);
  color: rgba(var(--colors-baltic-70));
}

body.cheat-sheet .tableblock .icon i {
  color: rgba(var(--colors-baltic-50));
}

body.cheat-sheet .navbar .navbar-item.getting-started-cta .navbar-link {
  background: var(--colors-primary-default);
  color: var(--color-white);
}

body.cheat-sheet .navbar .navbar-item.getting-started-cta .navbar-link:hover {
  background: rgba(var(--colors-baltic-50));
}

body.cheat-sheet .navbar .navbar-item.getting-started-cta .navbar-link:active {
  background: rgba(var(--colors-baltic-60));
}

/* navpanel (version selector */

body.cheat-sheet .navbar-brand {
  width: 18rem;
  /* border-right: 1px solid rgba(var(--colors-neutral-30)); */
}

body.cheat-sheet .navbar-start {
  display: flex;
  max-width: calc(var(--cheat-sheet-max-width--desktop) + 2rem);
  flex-grow: 1;
  align-items: center;
  margin-right: 2rem;
}

body.cheat-sheet .navbar-start .navbar-link {
  margin-left: auto;
}

body.cheat-sheet .navbar-link a {
  color: var(--link-font-color);
}

body.cheat-sheet .navbar-link a.external::after {
  display: inline-block;
  content: "";
  height: 1rem;
  width: 1rem;
  padding: 0;
  background: url(../img/navbar-external.svg) no-repeat;
  background-position: center;
}

body.cheat-sheet .navbar-link a.external::after line {
  stroke: var(--link-font-color);
}

body.cheat-sheet .selectors {
  display: flex;
  flex-direction: column;
}

body.cheat-sheet .selectors div[data-selector-type="labels"] {
  display: none;
}

body.cheat-sheet .dropdown .dropdown-label {
  display: inline;
  padding: 0.5rem 2rem 0.5rem 0.5rem;
}

body.cheat-sheet .nav-panel-versions {
  height: auto;
  padding: 0;
  display: flex;
}

body.cheat-sheet .selectors .dropdown {
  width: 100%;
  display: flex;
  align-items: center;
}

body.cheat-sheet .selectors .dropdown .dropdown-styles {
  background-color: var(--colors-neutral-10);
}

body.cheat-sheet .nav-panel-types .dropdown .dropdown-label,
body.cheat-sheet .nav-panel-versions .dropdown .dropdown-label {
  display: flex;
  white-space: nowrap;
  /* width: 300px; */
  /* padding: 0.5rem 1.5rem; */
}

body.cheat-sheet .nav-panel-versions .dropdown .dropdown-styles {
  width: 50%;
  display: inline-block;
  background-color: var(--colors-neutral-10);
}

body.cheat-sheet .selectors > div {
  align-items: center;
  display: flex;
  /* flex-wrap: wrap; */
  box-shadow: none;
  margin: 0.25rem;
  /* padding: 0.25rem 0; */
}

body.cheat-sheet .selectors .dropdown .dropdown-styles {
  display: inline-block;
  width: 100%;
  /* background-color: var(--toolbar-background); */
}

/* toc */

body.cheat-sheet .content aside.toc.sidebar {
  display: none;
}

body.cheat-sheet .nav-container {
  border-right: none;
}

body.cheat-sheet aside.nav {
  background: var(--color-white);
}

body.cheat-sheet aside.nav .nav-panel-versions {
  top: var(--navbar-height);
}

body.cheat-sheet aside.nav .selectors {
  position: sticky;
  top: var(--navbar-height);
  z-index: var(--z-index-toolbar);
  background-color: var(--toolbar-background);
  padding: 0.5rem;
  gap: 0.5rem;
}

body.cheat-sheet aside.nav .selectors .dropdown-label {
  font-weight: var(--body-font-weight-bold);
}

body.cheat-sheet .toc-menu-placeholder h2 {
  display: none !important;
}

body.cheat-sheet .toc .toc-menu {
  margin-right: 0;
}

body.cheat-sheet .toc .toc-menu ul {
  margin-top: 0.5rem;
}

body.cheat-sheet .toc .toc-menu li {
  padding-left: 0;
  /* line-height: 1.4; */
}

body.cheat-sheet .toc .toc-menu li a {
  border: none;
  padding: 1rem;
  margin: 0;
}

body.cheat-sheet .toc .toc-menu li[data-level="1"] a {
  font-weight: var(--body-font-weight-bold);
}

body.cheat-sheet .toc .toc-menu li[data-level="2"] a {
  padding: 0.25rem 1rem 0.25rem 2rem;
  margin: 0;
}

body.cheat-sheet .toc .toc-menu a:hover {
  background-color: var(--toc_hover-background-color);
  color: var(--toc_active-font-color);
  /* border-radius: 0.5rem; */
}

body.cheat-sheet .toc .toc-menu a.is-active {
  background-color: rgba(var(--colors-baltic-10));
  color: var(--color-docs);
  /* border-radius: 0.5rem; */
}

body.cheat-sheet .toc .toc-menu a.is-active::before {
  content: "";
  width: 4px;
  height: 100%;
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
  background-color: var(--color-docs);
  border-radius: 4px;
}

/* headings */

body.cheat-sheet .article .sect-header:first-child {
  display: none;
}

body.cheat-sheet .article h2:not(.discrete) {
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  padding: 0 0.5rem;
  border: none;
  height: 110px;
  margin: 0;
  line-height: 110px;
}

body.cheat-sheet .article h3:not(.discrete) {
  display: flex;
  flex: 0 0 60%;
  flex-grow: 1;
  padding-right: 0;
}

body.cheat-sheet .article h3:not(.discrete) a {
  align-items: center;
  display: flex;
}

body.cheat-sheet .article h3:not(.discrete) span.label {
  margin-left: auto;
}

/* override deprecations */

body.cheat-sheet .article div.deprecated h2::after,
body.cheat-sheet .article div.deprecated h3::after {
  display: none;
}

/*  page */

body.cheat-sheet .sect1 {
  display: flex;
  flex-wrap: wrap;
}

body.cheat-sheet .sect2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: var(--color-white);
  padding: 0.5rem;
  margin: 3.5rem 0;
}

body.cheat-sheet .sect2:first-child {
  margin-top: 0;
}

body.cheat-sheet .article h3 {
  flex: 100%;
  margin: 1rem 0;
  margin: 0;
  padding: 1rem 0.5rem;
}

body.cheat-sheet .exampleblock {
  width: 100%;
  margin-bottom: 0;
  border: none;
  border-top: 1px solid rgba(var(--theme-light-palette-neutral-border-weak));
}

body.cheat-sheet .exampleblock > .content {
  display: flex;
  /* flex: 0 0 100%; */
  margin-top: 0;
  padding: 0;
  border: none;
  flex-wrap: wrap;
  gap: 0.5rem;
}

body.cheat-sheet .example-block > .content > .listingblock {
  display: flex;
  flex: 0 0 42%;
  margin: 0;
  padding: 1rem 0.5rem;
  /* border-top: 1px solid rgba(var(--colors-neutral-30)); */
}

body.cheat-sheet .listingblock .content {
  width: 100%;
  border-radius: 0.5rem;
}

body.cheat-sheet .paragraph {
  margin: 0 0 0.5rem;
}

body.cheat-sheet .exampleblock > .content > div {
  display: flex;
  flex: 0 0 42%;
  flex-grow: 1;
  padding: 1rem 0.5rem;
  margin: 0;
}

body.cheat-sheet .exampleblock > .content > div.labels {
  flex: 0 0 100%;
  justify-content: flex-start;
  padding-bottom: 0;
  padding-top: 0;
  gap: 0.25rem;
}

body.cheat-sheet .exampleblock > .content > div.labels span.label {
  margin-top: 1rem;
}

body.cheat-sheet .exampleblock > .content > div.extra {
  flex-grow: 2;
  border-top: none;
}

body.cheat-sheet .exampleblock > .content > div.description ul {
  list-style: circle;
  line-height: 1.25;
  margin: 0;
  padding: 0 1rem;
}

body.cheat-sheet .page-labels {
  display: flex;
  /* flex-grow: 1; */
  /* flex-direction: row-reverse; */
  margin: 0;
  padding: 0;
  align-items: center;
  gap: 0.25rem;
  /* border-bottom: 1px solid rgba(var(--colors-neutral-20)); */
}

body.cheat-sheet .sect1 > h2 {
  padding-left: 1rem;
}

body.cheat-sheet .sect1 > .page-labels {
  padding-right: 0.5rem;
}

body.cheat-sheet .page-labels:first-of-type {
  margin: 0 0 0 auto;
}

body.cheat-sheet .page-labels p {
  flex-direction: row;
  display: flex;
}

body.cheat-sheet .labels {
  /* flex: 0 0 12%; */
  /* padding: 1rem 0; */
  /* margin: 0; */
  /* border-top: 1px solid rgba(var(--colors-neutral-30)); */
}

body.cheat-sheet .label {
  display: flex;
  /* margin: 0.2rem; */
  line-height: 1.8;
}

body.cheat-sheet .notes {
  flex: 100%;
  margin: 1rem 0.5rem;
}

body.cheat-sheet .notes p {
  margin: 0;
  padding: 0.5rem;
  /* background: var(--pre-background); */
}

body.cheat-sheet pre.highlight {
  white-space: pre-wrap;
}

/* hide elements */

body.cheat-sheet .exampleblock.hidden,
body.cheat-sheet .listingblock.hidden,
body.cheat-sheet .description.hidden,
body.cheat-sheet .labels.hidden,
body.cheat-sheet .sect1.hidden,
body.cheat-sheet .sect2.hidden,
body.cheat-sheet span.label.hidden,
.toc-menu li.hidden {
  display: none;
}

@media screen and (max-width: 1023px) {
  body.cheat-sheet .toc-menu-placeholder h2 {
    display: block;
    margin: 0 1.5rem;
    padding: 0;
  }

  body.cheat-sheet .toc-menu-placeholder ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0 1rem;
    list-style: none;
  }

  body.cheat-sheet .toc-menu-placeholder li {
    margin: 0.25rem;
  }

  body.cheat-sheet .toc-menu-placeholder li[data-level="1"] {
    border-bottom: 1px dotted rgba(var(--color-baltic-30));
    /* background-color: rgba(var(--colors-neutral-20)); */
    /* margin-left: 0; */
    width: 100%;
    margin-top: 0.5rem;
  }

  body.cheat-sheet .toc-menu-placeholder li[data-level="2"] {
    border: 1px solid rgba(var(--colors-neutral-30));
    font-size: calc(var(--doc-font-size--desktop) * 0.8);
  }

  body.cheat-sheet .toc-menu-placeholder li a {
    display: block;
    padding: 0 0.5rem;

    /* border: 1px dotted var(--color-blue-300); */
  }

  /* body.cheat-sheet .toc-menu-placeholder li[data-level="2"]::after {
    content: "|";
    margin: 0 0.5rem;
  } */

  body.cheat-sheet .sect2 {
    background: none;
    padding: 0;
  }

  body.cheat-sheet h3:not(.discrete) {
    background: rgba(var(--colors-neutral-20));
    margin: 0 0.5rem 0 0.5rem;
    flex-grow: 1;
    border: 1px solid rgba(var(--colors-neutral-30));
    /* border-right: none; */
  }

  body.cheat-sheet .sect2 > div {
    flex: 0 0 80%;
    flex-grow: 1;
    padding: 0.5rem;
    margin: 0 0.5rem;
    background-color: rgba(var(--colors-neutral-20));
    border: 1px solid rgba(var(--colors-neutral-70));
    border-radius: 0;
  }

  body.cheat-sheet .notes p {
    background: none;
  }

  body.cheat-sheet .sect2 > div.labels,
  body.cheat-sheet .sect2 > div.page-labels {
    flex: 0 0 auto;
  }

  body.cheat-sheet .sect2 > div.labels p {
    display: flex;
    flex-direction: row;
  }

  body.cheat-sheet .sect2 > div.page-labels {
    border-left: none;
    margin-left: -0.5rem;
  }

  body.cheat-sheet .sect2 > div.listingblock {
    margin-top: 1rem;
    border-top: none;
  }

  body.cheat-sheet .sect2 > div.description {
    border-top: none;
    padding: 0.5rem 1rem;
  }
}

@media print {
  body.cheat-sheet aside.toc.embedded,
  body.cheat-sheet .navbar-menu,
  body.cheat-sheet .navbar-search,
  body.cheat-sheet .navbar-burger,
  body.cheat-sheet .feedback,
  body.cheat-sheet footer {
    display: none;
  }

  body.cheat-sheet .sect1 {
    page-break-after: always;
  }

  body.cheat-sheet .sect2,
  body.cheat-sheet .sect2 > div.listingblock,
  body.cheat-sheet .sect2 > div.description,
  body.cheat-sheet .sect2 > div.notes {
    page-break-inside: avoid;
  }
}
