.doc pre.has-header code {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.doc .listingblock .code-title,
.doc .listingblock .code-inset {
  padding: 0.5rem;
  /* display: flex; */
}

.doc .listingblock .code-title {
  /* flex-grow: 1; */
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.doc .code-header {
  /* display: flex; */
}

.doc .code-header div {
  padding: 0.25rem 0;
  font-weight: var(--body-font-weight-bold);
}

.doc .listingblock .code-spacer {
  flex-grow: 1;
}

.doc .listingblock .code-title,
.doc .listingblock .code-language {
  /* background: var(--code-header-background); */
  color: var(--code-header-font-color);
  font-size: var(--code-header-font-size);
}

.doc .listingblock .code-header {
  background: var(--code-header-background);
  color: var(--code-header-font-color);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.doc .listingblock .code-language {
  flex-grow: 0;
  padding: 0.25rem 0;
}

.doc .listingblock .code-inset .btn {
  border: 0 none;
  padding: 0.6rem 0;
  border-radius: 0.175rem;
  font-weight: var(--body-font-weight-bold);
  line-height: 1;
  text-align: center;
}

.doc .code-footer .btn {
  border: 0 none;
  background: var(--code-header-background) !important;
  color: var(--code-header-font-color) !important;
  margin: 0.25rem 0 0.25rem 0.5rem;
  padding: 0.6rem;
  border-radius: 0.175rem;
  font-weight: var(--body-font-weight-bold);
  line-height: 1;
  text-align: center;
}

.doc .listingblock .code-inset .btn:focus,
.doc .code-footer .btn:focus {
  outline: none;
}

.doc .listingblock .code-inset .btn-copy:hover {
  cursor: pointer;
}

.doc .listingblock .code-inset .btn.btn-copy {
  padding: 0;
}

.doc .listingblock .code-inset .btn-copy.fa-check {
  background: rgba(var(--colors-neutral-60));
  margin: 0.2rem;
  padding: 0.4rem;
}

.doc .listingblock .code-inset .btn-copy.fa-check::before {
  display: block;
  background: transparent;
  color: var(--code-header-font-color) !important;
}

.doc .listingblock .code-inset {
  border-top-right-radius: 0.5rem;
  /* background: var(--pre-background); */
  color: var(--code-header-font-color);
  font-size: calc(12.5 / var(--rem-base) * 1rem);
  position: absolute;
  /* float: right; */
  padding: 0.25rem 0.5rem;
  /* margin-left: -2rem; */
  z-index: 1;
  right: 0;
}

.doc .code-inset .copy-success.hidden {
  display: none;
}

.doc .code-inset .copy-success .btn {
  position: absolute;
  right: -1rem;
  background: rgba(var(--colors-forest-50));
  color: var(--color-white) !important;
  padding: 0.4rem;
  margin: 0;
  line-height: 1;
  font-size: calc(12.5 / var(--rem-base) * 1rem);
  width: 4rem;
  z-index: 1;
}

.doc .code-inset .copy-success .btn::after {
  width: 0;
  height: 0;
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 50%;
  margin-left: -0.25rem;
  margin-top: -0.25rem;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-bottom: 0.5rem solid rgba(var(--colors-forest-50));
}

.doc .code-footer {
  background: rgba(var(--colors-neutral-50));
  color: var(--color-white);
  padding: 0.3rem 12px 0.3rem 0;
  font-size: 0.8em;
  display: flex;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.doc .spacer {
  flex-grow: 1;
}

.doc .show-more {
  position: absolute;
  bottom: 0;
  height: 2.5rem;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.doc .show-more a {
  font-weight: 500;
  color: var(--code-header-font-color);
  padding: 5px 10px;
  background: var(--code-header-background);
  border-radius: 30px;
}

.doc .code-footer.has-results {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.doc .code-footer .loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0.6rem;
  color: rgba(var(--colors-neutral-20));
  font-size: 0.7rem;
}

.doc .code-results {
  background: rgba(var(--colors-neutral-20));
  color: rgba(var(--colors-neutral-60));
  border: 1px solid rgba(var(--colors-neutral-50));
  border-bottom-width: 2px;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  font-size: 0.75rem;
  overflow: auto;
}

.doc .code-results .code-result-options {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(var(--colors-neutral-40));
  margin: 0 12px 4px;
}

.doc .code-results .code-result-options .code-result-header {
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.6rem 0 0.2rem;
}

.doc .code-results button {
  padding: 0;
  font-weight: 600;
  border: 0 none;
  color: rgba(var(--colors-neutral-60));
  background: transparent;
}

.doc .code-results button:focus {
  color: var(--color-green-600);
  outline: none;
}

.doc .code-results .code-result-container {
  width: 100%;
  max-height: 600px;
  overflow: auto;
  padding: 12px;
}

.doc .code-results .code-result-table {
  min-width: 100%;
}

.doc .code-results .code-result-table th {
  font-weight: 600;
  text-align: left;
  font-size: 0.7rem;
  padding: 0 0.25rem 6px;
  color: #718096;
  border-bottom: 1px solid #cbd5e0;
}

.doc .code-results .code-result-table td {
  vertical-align: top;
  padding: 0.25rem;
  color: rgba(var(--colors-neutral-60));
}

.doc .code-results .code-result-table tbody td {
  border-right: 1px solid rgba(var(--colors-neutral-30));
  border-bottom: 1px solid rgba(var(--colors-neutral-30));
}

.doc .code-results .code-result-table tbody tr td:last-child {
  border-right-width: 0;
}

/*
.doc .code-results .code-result-table tbody tr:nth-child(even) {
  background: rgba(var(--colors-neutral-15));
}

.doc .code-results .code-result-table tbody tr:hover {
  background: rgba(var(--colors-neutral-15));
}
*/

.doc .code-results .code-result-table tbody tr:hover {
  background: rgba(var(--colors-neutral-15));
}

.doc .code-results pre {
  padding: 0;
  font-size: 0.6rem;
  background: transparent;
}

.doc .code-results .error {
  border-left: 4px solid var(--color-red-600);
  color: var(--color-red-600);
  padding: 8px;
  border-radius: 0;
}

.doc .editable code,
.doc .editable code:focus {
  outline: none;
}

.doc .code-result-toggle {
  padding-right: 1.2rem;
}

.doc .code-result-toggle button {
  line-height: var(--body-line-height);
  padding: 0.5rem 0 0.5rem;
  margin-left: 0.4rem;
  border-bottom: 2px solid transparent;
  color: rgba(var(--colors-neutral-50));
}

.doc .code-result-toggle button.code-result-toggle--current {
  color: rgba(var(--colors-neutral-60));
  border-bottom-color: rgba(var(--colors-neutral-60));
}

@media all and (min-width: 760px) {
  .code-walkthrough .doc #preamble .paragraph {
    font-size: 1.1rem;
  }

  .code-walkthrough .doc {
    max-width: 68rem;
  }

  .code-walkthrough .doc .sect1 {
    clear: both;
    position: relative;
    padding-right: 50%;
  }

  .code-walkthrough .doc .sect1::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: -2rem;
    right: 0;
    width: 48%;
    background: rgba(var(--colors-neutral-15));
    z-index: 1;
  }

  .code-walkthrough .doc .sect1.disconnected::after {
    display: none;
  }

  .code-walkthrough .doc .sect1.first::after {
    top: 2.7rem;
  }

  .code-walkthrough .doc .sect1:first-child::after {
    top: 2.7rem;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }

  .code-walkthrough .doc .sect1.last::after {
    bottom: 0;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }

  .code-walkthrough .doc .listingblock {
    position: absolute;
    top: 2.7rem;
    right: 0;
    width: 48%;
    z-index: var(--z-index-code);
  }

  .code-walkthrough .doc .listingblock code {
    box-shadow: none;
    border: 0 none !important;
  }

  .code-walkthrough .toc {
    display: none;
  }
}
