#cookiebanner {
  background: var(--body-background) !important;
  border-top: 1px solid var(--button-border-color) !important;
  box-shadow: 0 -5px 5px 1px rgba(0, 0, 0, 0.08) !important;
  padding: 1rem;
  font-size: 0.8rem;
  color: var(--body-font-color);
}

#cookiebanner .row {
  max-width: 32.5rem;
  margin: auto;
}

#cookiebanner .c-header {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--body-font-color);
}

#cookiebanner p {
  color: var(--body-font-color) !important;
}

/* #cookiebanner .columns {
    width: 50%;
    float: left;
} */

#c-left a {
  color: var(--link-font-color);
  font-weight: bold;
}
/* #c-right {
    text-align: center;
} */
#c-right a {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  font-weight: 600;
  background: var(--button-background);
  color: var(--button-font-color);
  border-radius: 0.25rem;
  margin-right: 0.5rem;
}

#NeoCybotCookiebotDialogBodyButtonAccept {
  background: var(--button-background) !important;
  color: var(--button-font-color) !important;
  border: 1px solid var(--button-border-color) !important;
}

#NeoCybotCookiebotDialogBodyButtonDecline {
  background: transparent !important;
  color: var(--link-font-color) !important;
}
