
.docs .navbar a {
  font-weight: var(--body-font-weight);
  font-size: var(--toolbar-font-size);
}

.docs div.category-tabs {
  display: flex;
  flex: 1;
  align-items: stretch;
  height: stretch;
  padding: 0 0 0 1rem;
}

.docs div.category-tabs ul {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
  gap: 1rem;
  font-size: var(--toolbar-font-size);
}

.docs div.category-tabs ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.docs div.category-tabs ul li.is-active {
  box-shadow: inset 0 -2px 0 var(--color-docs);
}

.docs div.category-tabs ul li a {
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: var(--color-docs);
  white-space: nowrap;
}

.docs div.category-tabs ul li a:hover {
  background-color: var(--toc-hover-background-color);
}

.docs .doc {
  padding-top: 0;
}

.docs .toolbar {
  position: relative;
  top: unset;
  background: var(--toolbar-background);
  box-shadow: none;
  margin: 0;
  padding: 0;
  font-size: var(--toolbar-font-size);
  display: flex;
  height: auto;
}

.docs .toolbar-wrapper {
  display: flex;
  padding: 2rem 3rem;
}

.docs .breadcrumbs {
  font-size: var(--breadcrumbs-font-size);
  margin: var(--doc-margin--desktop);
  padding: 1rem;
  max-width: 54.44444rem;
  max-width: var(--doc-max-width--desktop);
}

.docs .nav {
  top: var(--navbar-height);
  margin-top: 0;
}

.docs .nav-menu {
  flex-grow: 0;
}

.docs .nav-menu > .nav-list {
  margin-top: 0;
}

.docs .page-header {
  padding: 0;
}

.docs .breadcrumbs ul {
  margin: 0;
  padding: 0.5rem 0;
}

.docs .breadcrumbs ul a {
  text-decoration: none;
}

.docs h1 {
  margin: 0;
  /* flex: 0 0 100%; */
}

body.docs .header-label-container > div.labels.wrapped {
  margin-bottom: 1rem;
}

body.docs main > .content {
  margin-top: 0;
}

.docs .page-header > div {
  margin: 0;
}

.docs .page-header > div.labels {
  margin: 1rem  0;
  display: flex;
  gap: 0.25rem;
  margin-left: auto;
  line-height: var(--doc-line-height);
}

.docs .page-header > div.selectors {
  padding: 1rem 0;
}

.docs .page-header .nav-panel-versions {
  padding: 0;
  margin: 0;
}

.docs .nav-panel-versions .dropdown-styles {
  font-size: var(--typography-body-small-font-size);
  padding: 0.25rem 1.5rem 0.25rem 0.5rem;
}
