@font-face {
  font-family: 'Syne Neo';
  src: url('https://storage.googleapis.com/neo4j-fonts/Syne%20Neo%20Medium%20Font.otf') format('opentype');
}

@media screen and (min-width: 1024px) {
  body.docs:not(.explainer) main > .content {
    margin-top: 0;
  }
}

@media screen and (min-width: 769px) {
  body.docs .doc > .sect-header > h1.page:first-child {
    margin-top: 0;
  }
}

/* nav */

body.docs.explainer .nav-panel-menu {
  scrollbar-width: none;
}

body.docs .nav-menu .docs-home-link a::before {
  position: relative;
  display: inline-block;
  margin: 0;
  content: "→";
  transform: rotate(-180deg);
  color: var(--link-font-color);
  transition: all 0.2s linear;
  top: 0;
}

body.docs .nav-menu .docs-home-link {
  margin-bottom: 0;
}

body.docs .nav-menu .docs-home-link:hover,
body.docs .nav-menu .docs-home-link:focus {
  text-decoration: none;
  background-color: var(--colors-baltic-15);
}

body.docs .nav-menu .home-link {
  width: auto;
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  box-shadow: 0 1px 0 var(--toolbar-border-color);
}

body.docs .nav-menu .home-link a {
  display: flex;
  flex: 1;
  align-self: center;
  padding: 0.75rem 0 0.75rem 1rem;
  /* background-color: rgba(var(--colors-baltic-10)); */
  color: rgba(var(--colors-baltic-50));
}

body.docs .nav-list:first-child .nav-item:first-child .nav-section-header {
  border: none;
  padding-top: 1.5rem !important;
  margin-top: 0 !important;
}

body.docs .nav-menu .nav-module > ul:last-of-type {
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  /* border-bottom: 1px solid rgba(var(--colors-neutral-20)); */
}

body.docs .nav-menu .nav-module > ul:not(ul:has(li)) {
  display: none;
}

body.docs .nav-menu a,
body.docs .nav-text {
  color: var(--neutral-color);
}

body.docs .nav-menu .home-link a::before {
  display: inline-block;
  margin-right: 1em;
  vertical-align: middle;
  line-height: 1;
}

body.docs .nav-menu > .nav-list {
  margin-top: 0;
}

body.docs .nav-menu .component-title {
  display: none;
}

body.docs .nav-menu .nav-index {
  padding: 0.5rem 0;
  border-bottom: 1px solid rgba(var(--colors-neutral-20));
}

body.docs .nav-menu .nav-index a {
  font-weight: var(--body-font-weight-bold);
}

/* body.docs .nav-item[data-depth="0"] {
  margin-top: 0.5rem;
}

body.docs .nav-item .nav-section-header {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 1.5rem !important;
  border-top: 1px solid var(--colors-netural-25);
}

body.docs .nav-menu .nav-list:first-child .nav-item:first-child .nav-section-header {
  border: none;
  padding-top: 1.5rem !important;
}

body.docs .nav-menu .nav-item > a {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 1.5;
}

body.docs .nav-menu .nav-item > a > strong {
  margin-top: 1.5rem !important;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  display: block;
} */

/* end of nav */

/* toolbar */

body.docs.hub .toolbar {
  /* visibility: hidden; */
  display: none;
}

body.docs .doc a {
  text-decoration: none;
}

body.docs .doc a::after {
  display: inline-block;
}

body.docs .doc a:hover {
  text-decoration: underline;
}

body.docs .cards.bottom-cards a:hover {
  text-decoration: none;
}

body.docs .doc a:hover::after {
  text-decoration: none;
}

body.docs.hub aside.toc.sidebar {
  flex-basis: 0;
}

body.docs.hub main > .content {
  /* align-items: center; */
  flex-direction: column;
  margin-bottom: 2rem;
}

body.docs.hub .doc {
  /* width: 100%; */
  max-width: 1440px;
  padding: 1.5rem 0 4rem;
}

body.docs .doc .flex-column {
  flex-direction: column;
}

body.docs .doc > .sect-header > h1.page:first-child {
  margin: var(--docs-spacer) 0;
  line-height: 1;
}

body.docs.hub .doc div:not(.display) h2 {
  display: none;
}

body.landing .toc {
  display: none;
}

body.docs .doc h2 {
  margin: 1rem 0 1rem;
}

body.docs .doc h1,
body.docs .doc h2 {
  font-family: var(--header-font-family);
  border-bottom: 0 none;
  flex-basis: 100%;
}

body.docs.hub .sectionbody,
body.docs.explainer .sectionbody {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 2%;
  align-content: stretch;
  /* justify-content: space-between; */
}

body.docs .widget .sectionbody {
  background: rgba(var(--colors-neutral-10));
  border-radius: 1rem;
  border: none;
  padding: 1rem;
  column-gap: 0;
  row-gap: 0;
  justify-content: center;
  align-content: center;
}

body.docs .widget.lists .sectionbody {
  justify-content: space-between;
  line-height: 24px;
}

body.docs .widget.banner .sectionbody {
  background: rgba(var(--colors-baltic-60));
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  border-radius: 1rem;
  border: none;
  padding: 2rem;
  row-gap: 0;
  column-gap: 0;
}

body.docs .widget.banner.start .sectionbody {
  background-image: url(../img/start.svg);
}

body.docs.sub .widget .sectionbody {
  background: transparent;
  padding: 0;
  justify-content: flex-start;
  row-gap: 1rem;
  column-gap: 1rem;
}

body.docs.sub .widget.banner .sectionbody {
  background: transparent;
  padding: 0;
  justify-content: flex-start;
  row-gap: 1rem;
  column-gap: 1rem;
}

body.docs.sub .widget .sectionbody .sect2 {
  border-radius: 1rem;
  flex: 0 0 32%;
}

body.docs .next-steps .sectionbody {
  display: block;
}

body.docs .next-steps .sectionbody .dlist {
  margin-left: 1rem;
  padding-left: 2rem;
  border-left: 1px solid rgba(var(--colors-neutral-20));
}

body.docs .next-steps .sectionbody .dlist dd {
  margin-bottom: 1rem;
}

body.docs .next-steps .sectionbody .dlist dt,
body.docs .next-steps .sectionbody .dlist dd {
  margin-left: 0;
  padding: 0.5rem;
}

body.docs .next-steps .sectionbody ol {
  list-style-type: none;
  counter-reset: step-counter;
  padding-left: 0;
}

body.docs .next-steps .sectionbody ol li {
  border-left: 1px solid rgba(var(--colors-baltic-50));
  margin-left: 1rem;
  counter-increment: step-counter;
  margin-bottom: 0;
  padding-bottom: 2rem;
}

body.docs .next-steps .sectionbody ol li a {
  text-emphasis: none;
}

body.docs .next-steps .sectionbody ol li:last-of-type {
  counter-increment: step-counter;
  margin-bottom: 0;
  border: none;
}

body.docs .next-steps .sectionbody ol li p {
  margin: 0 0 0 1rem;
}

body.docs .next-steps .sectionbody ol li div.paragraph {
  margin: 0;
}

body.docs .next-steps .sectionbody ol li::before {
  /* content: counter(step-counter); */
  content: "";
  /* display: inline-block; */
  float: left;
  position: relative;
  z-index: 1;
  margin-left: -1rem;
  margin-right: 1rem;
  font-style: normal;
  background: rgba(var(--colors-baltic-15));
  color: rgba(var(--colors-baltic-50));
  border: 1px solid rgba(var(--colors-baltic-50));
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
}

body.docs .next-steps .sectionbody ul {
  /* list-style-type: none; */
  padding: 1rem;
}

body.docs .next-steps .sectionbody ul li {
  margin-bottom: 1rem;
}

body.docs .next-steps .sectionbody ul li div.paragraph {
  margin: 0;
}

/* body.docs .next-steps .sectionbody ol li:last-of-type:after {
  content: "";
  background: rgba(var(--colors-neutral-10));
  border: 1px solid rgba(var(--colors-baltic-50));
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: inline-block;
  position: relative;
  left: -3.25rem;
  top: -3.875rem;
} */

/* body.docs .article a:visited {
  color: var(--neutral-color);
} */

/* explainer */

body.docs .cards .sectionbody > div.paragraph {
  display: flex;
  flex: 0 1 100%;
}

body.docs.explainer .sectionbody .video {
  display: block;
  width: 100%;
}

/* video embeds */

.video iframe {
  border-radius: 0.75rem;
}

body.docs #preamble + .sect1 {
  margin-top: 0;
}

/* sections */

body.docs.hub .sect1:not(.banner),
body.docs.explainer .sect1 {
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--docs-spacer);
}

body.docs .paragraph.caption {
  display: flex;
  width: 100%;
  padding: 1rem;
  margin: 0;
  color: var(--neutral-color);
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: var(--font-font-family-h1);
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 100% */
  letter-spacing: 0.25px;
}

body.docs .paragraph.footer-link {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  color: var(--neutral-color);
  justify-content: flex-end;
  padding-right: 0;
}

body.docs .banner .paragraph {
  display: flex;
  width: fit-content;
  padding: 0;
  margin: 1rem;
  color: var(--color-white);
}

body.docs .banner .paragraph.description {
  font-family: var(--font-family-h2);
  font-size: 16px;
  font-weight: 100;
  line-height: 24px;
  letter-spacing: 0;
}

/* selectable cards */

body.docs .cards .sect2.selectable .description {
  color: var(--doc-font-color);
  font-weight: 200;
}

body.docs .cards .sect2.selectable a {
  text-decoration: solid;
}

body.docs .cards .sect2.selectable .link a:hover {
  text-decoration: underline;
}

body.docs .cards .sect2.selectable:hover div.description {
  text-decoration: none;
}

/* banner */

body.docs.hub .banner .sectionbody,
body.docs.explainer .banner .sectionbody {
  justify-content: space-between;
}

body.docs .banner .sectionbody > div.openblock {
  flex: 0 0 65%;
}

body.docs .banner .sectionbody > div.icon {
  flex: 0 0 40%;
  padding: 0;
  object-fit: cover;
  border-radius: 0.25rem;
  margin-bottom: 0;
}

body.docs .banner .icon img {
  height: 100%;
  padding: 0;
  margin: 0;
}

body.docs .banner .button a {
  border-radius: 0.25rem;
  padding: 0.5em 1.5em;
  font-weight: 400;
  text-align: center;
  /* margin-left: 24px; */
}

.banner .button:hover {
  background: rgba(var(--banner-background-color));
  color: var(--colors-baltic-25);
}

.description2 {
  color: var(--color-white);
  font-size: var(--doc-font-size--desktop);
  line-height: var(--doc-line-height);
  margin: var(--doc-margin);
  max-width: var(--doc-max-width);
  padding: 12px 24px 12px;
}

/* highlights */

body.docs .highlights .sectionbody > div {
  flex: 0 1 50%;
  justify-content: center;
  align-self: center;
  padding: 1rem 2rem 1rem;
}

body.docs .highlights .sectionbody > div.icon span.image {
  display: flex;
  justify-content: center;
}

body.docs .highlights .list,
body.docs .highlights .caption {
  padding-left: 0;
}

body.docs .highlights .list a {
  padding: 8px;
  text-decoration: none;
}

body.docs .highlights .list a:hover,
body.docs .highlights .list a:focus {
  text-decoration: none;
  background-color: var(--toc-hover-background-color);
}

body.docs .highlights .list ul li {
  border-bottom: 1px solid rgba(var(--colors-neutral-20));
}

body.docs .widget.highlights .footer-link {
  text-align: end;
}

body.docs .widget.highlights .footer-link a,
body.docs .widget.highlights .footer-link a:visited,
body.docs .widget.highlights .footer-link a::after {
  color: var(--link-font-color);
}

body.docs .widget.highlights .icon img {
  max-width: 100%;
  height: auto;
  padding: 0;
}

/* lists */

body.docs .lists .sectionbody > div.sect2 {
  flex: 0 0 22%;
}

body.docs .widget .sectionbody > div.sect2 .ulist {
  flex-grow: 1;
  order: 3;
  margin-top: 1rem;
}

body.docs .widget ul {
  list-style-type: none;
  padding: 0;
}

body.docs .lists ul li {
  font-size: var(--font-size-body-medium);
}

body.docs .lists ul li a {
  font-weight: var(--font-weight-normal);
  text-decoration: none;
}

/* cards */

body.docs .sect2 {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  position: relative;
}

body.docs .cards .sectionbody > div.sect2 {
  flex: 0 1 32%;
  border: 1px solid var(--panel-border-color);
  /* margin-right: 1rem; */
}

body.docs .cards.bottom-cards .sectionbody > div.sect2 {
  flex: 0 1 49%;
}

body.docs.explainer .sectionbody > div.sect2 {
  flex: 0 1 49%;
  border: 1px solid var(--panel-border-color);
}

body.docs .cards .sect2.selectable > a,
body.docs .cards .sect2:not(.selectable),
body.docs .lists .sect2 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  /* justify-content: space-between; */
  gap: 8px;
  /* min-width: 30%; */
  padding: 24px;
  background: var(--color-white);
  line-height: 2rem;
}

body.docs .cards.selectable .sect2:hover,
body.docs .cards .sect2.selectable:hover {
  transition: 0.1s linear;
  border: 1px solid var(--page-version-missing-font-color);
  box-shadow: 0 1px 2px 0 rgba(26, 27, 29, 0.18);
  cursor: default;
}

/* styles for specific types of cards:
- featured - for new and exciting items
- labs
- graph-academy
*/

/* this would give a background image on cards marked with [.ga-promo] */
body.docs .cards .sectionbody > div.sect2.graph-academy > a,
body.docs .cards .sectionbody > div.sect2.graph-academy:not(.selectable) {
  background: #fff url(../img/ad-blob.svg) no-repeat 100% 100%;
  border: 1px solid var(--success-color);
  box-shadow: 0 2px 4px 0 rgba(63, 120, 36, 0.5), 0 1px 2px 0 rgba(63, 120, 36, 0.2);
}

body.docs .cards .sectionbody > div.sect2.labs > a,
body.docs .cards .sectionbody > div.sect2.labs:not(.selectable) {
  border: 1px solid var(--color-labs);
  box-shadow: 0 2px 4px 0 rgba(90, 52, 170, 0.5), 0 1px 2px 0 rgba(90, 52, 170, 0.2);
}

/* add a labs label to a title in a card */
body.docs .header-label-container > div.labels {
  display: inline-flex;
  margin-left: auto;
}

body.docs .cards .sect2 > a,
body.docs .cards:not(.selectable) .sect2 > a,
body.docs .widget:not(.video) {
  /* box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.06); */
  border: 1px solid var(--panel-border-color);
  border-radius: 1rem;
}

body.docs .cards .sect2 > a {
  color: var(--neutral-color);
  font-weight: var(--font-weight-normal);
  text-decoration: none;
}

body.docs.color-docs .sect2 {
  color: rgba(var(--colors-neutral-10));
  background: var(--color-docs);
}

body.docs.color-docs .cards .sect2 h3,
body.docs.color-docs .cards .sect2 .description {
  color: rgba(var(--colors-neutral-10));
}

body.docs .cards .sect2 .paragraph {
  margin: 0;
}

/* body.docs:not(.create-applications) .sect2 {
  min-height: 200px;
} */

body.docs .cards .sect2 a > h3,
body.docs .cards .sect2 a > div {
  margin: 0;
  padding: 0;
}

body.docs .highlights .sectionbody > div,
body.docs .sect2 a > div,
body.docs .sect2 a > h3 {
  display: flow;
}

body.docs .cards .sect2 .icon,
body.docs .widget .icon {
  padding: 0;
  margin: 0;
  display: flex;
}

body.docs .cards .sect2 .icon,
body.docs .widget.banner .icon {
  order: 1;
  padding: 0;
  margin: 0;
  width: 100%;
}

body.docs .cards .sect2 .icon p {
  display: flex;
  width: -webkit-fill-available;
  justify-content: space-between;
}

body.docs .cards .sect2 .icon p div.labels {
  display: none;
  flex-direction: row;
  gap: 0.25rem;
  height: min-content;
}

body.docs .cards .icon span {
  display: flex;
}

/* For the 1st, 3rd etc highlights, move the image to the right */
body.docs .widget.highlights:nth-of-type(odd) .icon {
  order: 1;
}

/* We can use this rule to apply styles to the 2nd, 4th highlights etc widget */
/* body.docs .widget.highlights:nth-of-type(even) .openblock {
  margin-right:40px;
} */

body.docs body.docs .cards .sect2 .icon img {
  width: 4rem;
  height: 4rem;
  padding: 0;
}

body.docs .cards .sect2 .icon.icon-l img {
  width: 6rem;
  height: 6rem;
  margin-bottom: 9px;
}

body.docs .lists .sect2 .icon img,
body.docs .icon-s .sect2 .icon img {
  width: 3rem;
  height: 3rem;
  padding: 0;
}

body.docs .lists .sect2 .icon img path {
  color: rgba(var(--colors-baltic-30));
  fill: rgba(var(--colors-baltic-30));
}

body.docs .cards .sect2 h3,
body.docs .lists .sect2 h3 {
  display: flex;
  order: 2;
  margin: 0;
  font-weight: var(--font-weight-semibold);
  width: -webkit-fill-available;
}

body.docs .cards .sect2 h3 .anchor::before {
  display: none;
}

body.docs .cards .sect2 .paragraph:not(.icon) {
  font-size: var(--font-size-body-medium);
  line-height: 1.5;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
  /* z-index: 10; */
  /* margin: 0.5rem 1rem 0 1rem; */
  /* -webkit-box-flex: 1; */
  /* -ms-flex-positive: 1; */
  /* flex-grow: 1; */
}

body.docs .cards .sect2.selectable .paragraph.link {
  display: none;
}

body.docs .cards.selectable .sect2 .paragraph.link,
body.docs .cards:not(.selectable) .sect2 .paragraph.link {
  box-sizing: border-box;
  padding-top: 30px;
  margin-top: auto;
}

body.docs .bottom-cards .sect2 .icon {
  padding-bottom: 16px;
}

body.docs .bottom-cards .sect2 h3 {
  padding-bottom: 8px;
}

body.docs .bottom-cards:not(.selectable) .sect2 .paragraph.link {
  padding-top: 0;
}

body.docs .cards .sect2 .paragraph.category {
  display: none;
}

body.docs .plain-links a.external::after {
  all: unset;
}

body.docs .highlights a {
  display: flex;
  justify-content: space-between;
  color: var(--neutral-color);
  font-weight: var(--font-weight-normal);
  text-decoration: none;
}

body.docs .highlights a::after,
body.docs .cards .link a::after {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  content: "→";
  font-weight: 600;
  color: var(--link-font-color);
  transition: margin 0.2s linear;
}

body.docs .highlights a::after {
  display: flex;
  margin-left: 1.5rem;
  color: var(--neutral-color);
  float: right;
}

body.docs .cards .sect2 .ulist {
  display: inline-flex;
  order: 4;
  margin: 0;
  font-size: var(--font-size-body-medium);
  line-height: 1.5;
  text-align: left;
}

body.docs .cards .sect2 .ulist ul {
  padding: 0;
}

body.docs .cards .sect2 .ulist ul li {
  list-style-type: none;
  margin: 0.5rem 0 0;
}

@media screen and (max-width: 1439px) {
  body.docs .toolbar {
    top: 0;
  }

  body.docs .nav-container {
    z-index: 30;
  }

  body.docs .cards .sectionbody > div.sect2 {
    flex: 0 1 49%;
  }

  body.docs.explainer .cards .sect2 h3 {
    text-align: left;
  }

  body.docs .widget .sectionbody {
    row-gap: 2rem;
  }

  body.docs .widget .sectionbody > div {
    flex: 0 1 100%;
    justify-content: center;
  }

  body.docs .widget.banner .sectionbody {
    row-gap: 2rem;
  }

  /* body.docs .widget.banner .sectionbody > div {
    flex: 0 1 100%;
    justify-content: center;
  } */

  body.docs .lists ul {
    /* text-align: center; */
  }

  body.docs .widget .sectionbody .sect2,
  body.docs.sub .widget .sectionbody .sect2 {
    flex: 0 0 48%;
  }

  body.docs .lists .sectionbody > div.sect2 > * {
    /* margin: 0 auto; */
  }

  body.docs .highlights .sectionbody > div {
    flex: 0 1 100%;
    justify-content: center;
  }

  body.docs .highlights .sectionbody > div.openblock {
    order: 2;
    flex: 0 1 100%;
  }

  body.docs .highlights .sectionbody > div.icon {
    margin: auto;
  }

  body.docs.explainer .sectionbody > div.sect2 a {
    flex: 0 1 100%;
  }
}

@media all and (max-width: 620px) {
  body.docs .doc > .sect-header > h1.page:first-child {
    text-align: center;
    margin: 1rem auto;
  }

  body.docs .bottom-cards .sect2 > a,
  body.docs .cards .sect2 > a {
    align-items: center;
  }

  body.docs.explainer .cards .sect2 > a {
    align-items: flex-start;
    padding: 1rem;
  }

  body.docs.explainer .cards .sect2 .paragraph:not(.icon) {
    text-align: left;
  }

  body.docs .cards.bottom-cards .sectionbody > div.sect2,
  body.docs .cards .sectionbody > div.sect2 {
    /* min-width: 90%; */
    flex: 1 1 100%;
  }

  body.docs .lists .sectionbody > div.sect2 {
    flex: 1 1 100%;
    padding: 1rem;
  }
}
