@font-face {
  font-family: 'Syne Neo';
  src: url('https://storage.googleapis.com/neo4j-fonts/Syne%20Neo%20Medium%20Font.otf') format('opentype');
}

body.docs-ndl {
  background: rgba(var(--colors-neutral-15));
}

body.docs-ndl .article a:visited {
  color: var(--link-font-color);
}

/* nav */

body.docs-ndl .nav {
  background: rgba(var(--colors-neutral-10));
}

body.docs-ndl .nav-menu .home-link {
  width: auto;
  background: none;
  border-bottom: 1px solid rgba(var(--colors-neutral-20));
}

body.docs-ndl .nav-menu .home-link::before {
  display: inline-block;
  content: url(../img/arrow-long-left.svg);
  margin-left: 1em;
  vertical-align: middle;
}

body.docs-ndl .nav-menu .home-link a {
  display: inline-block;
}

/* body.docs-ndl .nav-menu > .nav-list {
  margin-top: 0;
} */

body.docs-ndl .nav-menu .component-title {
  display: none;
}

body.docs-ndl .nav-menu .nav-index {
  padding: 0.5rem 0;
  border-bottom: 1px solid rgba(var(--colors-neutral-20));
}

body.docs-ndl .nav-menu .nav-index a {
  font-weight: var(--body-font-weight-bold);
}

/* body.docs-ndl .nav-item[data-depth="0"] {
  margin-top: 0.5rem;
}

body.docs-ndl .nav-item .nav-section-header {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 1.5rem !important;
  border-top: 1px solid var(--colors-netural-25);
}

body.docs-ndl .nav-menu .nav-list:first-child .nav-item:first-child .nav-section-header {
  border: none;
  padding-top: 1.5rem !important;
}

body.docs-ndl .nav-menu .nav-item > a {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 1.5;
}

body.docs-ndl .nav-menu .nav-item > a > strong {
  margin-top: 1.5rem !important;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  display: block;
} */

/* end of nav */

body.docs-ndl:not(.explainer) .content {
  /* align-items: center; */
  flex-direction: column;
  margin-bottom: 2rem;
}

body.docs-ndl:not(.explainer) .doc {
  /* width: 100%; */
  max-width: 1440px;
  padding: 0;
}

body.docs-ndl .doc .flex-column {
  flex-direction: column;
}

body.docs-ndl:not(.explainer) .doc div:not(.display) h2 {
  display: none;
}

body.docs-ndl .nav-item:not(.is-active) > .nav-list {
  display: block;
}

body.landing .toc {
  display: none;
}

body.docs-ndl .doc h1,
body.docs-ndl .doc h2 {
  font-family: var(--header-font-family);
  border-bottom: 0 none;
  flex-basis: 100%;
}

body.docs-ndl .sectionbody {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 1rem;
  column-gap: 1rem;
}

body.docs-ndl .widget .sectionbody {
  background: rgba(var(--colors-neutral-10));
  border-radius: 0.5rem;
  padding: 1rem;
  row-gap: 0;
  column-gap: 0;
}

body.docs-ndl .widget .sectionbody .sect2 {
  padding-top: 0;
}

body.docs-ndl .next-steps .sectionbody {
  display: block;
}

body.docs-ndl .next-steps .sectionbody .dlist {
  margin-left: 1rem;
  padding-left: 2rem;
  border-left: 1px solid rgba(var(--colors-neutral-20));
}

body.docs-ndl .next-steps .sectionbody .dlist dd {
  margin-bottom: 1rem;
}

body.docs-ndl .next-steps .sectionbody .dlist dt,
body.docs-ndl .next-steps .sectionbody .dlist dd {
  margin-left: 0;
  padding: 0.5rem;
}

body.docs-ndl .next-steps .sectionbody ol {
  list-style-type: none;
  counter-reset: step-counter;
  border-left: 1px solid rgba(var(--colors-baltic-30));
  margin-left: 1rem;
}

body.docs-ndl .next-steps .sectionbody li {
  counter-increment: step-counter;
}

body.docs-ndl .next-steps .sectionbody li p {
  margin: 0 0 0 1rem;
}

body.docs-ndl .next-steps .sectionbody li div.paragraph {
  margin: 0;
}

body.docs-ndl .next-steps .sectionbody li::before {
  content: counter(step-counter);
  /* display: inline-block; */
  float: left;
  position: relative;
  z-index: 1;
  margin-left: -3rem;
  margin-right: 1rem;
  font-style: normal;
  background: rgba(var(--colors-baltic-50));
  color: rgba(var(--colors-neutral-10));
  /* border: rgba(var(--colors-baltic-50)); */
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
}

body.docs-ndl .next-steps .sectionbody li::after {
  content: "";
  background: rgba(var(--colors-neutral-10));
  border: 2px solid rgba(var(--colors-baltic-50));
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: inline-block;
  position: relative;
  left: -3.25rem;
  top: -3.875rem;
}

/* explainer */

body.docs-ndl.explainer .sectionbody .video {
  display: block;
  width: 100%;
}

/* sections */

body.docs-ndl .sect1 {
  display: flex;
  flex-wrap: wrap;
}

body.docs-ndl .paragraph.caption,
body.docs-ndl .paragraph.footer-link {
  display: flex;
  width: 100%;
  padding: 1rem;
  margin: 0;
}

body.docs-ndl .paragraph.caption {
  font-family: var(--header-font-family);
  font-size: var(--doc-font-size-h2);
  font-weight: var(--heading-font-weight);
}

body.docs-ndl .paragraph.footer-link {
  justify-content: flex-end;
  padding-right: 0;
}

/* clickable cards */

body.docs-ndl .cards.selectable .sect2 {
  cursor: pointer;
}

body.docs-ndl .cards.selectable .sect2:hover {
  transform: translateY(-0.25rem);
  transition: 0.2s linear;
}

body.docs-ndl .cards.selectable .sect2:hover div.description {
  text-decoration: underline;
}

/* highlights */

body.docs-ndl .highlights .sectionbody > div {
  flex: 0 1 50%;
}

body.docs-ndl .highlights .list {
  padding-left: 1rem;
}

body.docs-ndl .highlights .list ul li {
  border-bottom: 1px solid rgba(var(--colors-neutral-20));
  padding-bottom: 0.5rem;
}

body.docs-ndl .widget.highlights .footer-link {
  text-align: end;
}

body.docs-ndl .widget.highlights .icon img {
  width: 40rem;
  padding: 0;
}

/* lists */

body.docs-ndl .lists .sectionbody > div.sect2 {
  flex: 0 0 24%;
}

body.docs-ndl .widget .sectionbody > div.sect2 .ulist {
  flex-grow: 1;
  order: 3;
  margin-top: 1rem;
}

body.docs-ndl .widget ul {
  list-style-type: none;
  padding: 0;
}

body.docs-ndl .lists ul li {
  font-size: var(--font-size-body-medium);
}

/* cards */

body.docs-ndl .sect2 {
  display: flex;
  flex-direction: column;
}

body.docs-ndl .cards .sectionbody > div.sect2 {
  flex: 1 1 32%;
  /* margin-right: 1rem; */
}

body.docs-ndl.explainer .sectionbody > div.sect2 {
  flex: 0 1 48%;
}

body.docs-ndl .cards .sect2 > a,
body.docs-ndl .cards:not(.selectable) .sect2,
body.docs-ndl .lists .sect2 {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  justify-content: space-between;
  /* min-width: 30%; */
  padding: 1rem;
  /* margin: 0 1rem 1rem 0; */
  background: var(--color-white);
  border-radius: 0.5rem;
  /* box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); */
  /* border: 1px solid #d5d9de; */
}

body.docs-ndl.explainer .cards .sect2 a {
  background: none;
}

body.docs-ndl.explainer .cards.selectable .sect2:hover {
  transform: none;
}

body.docs-ndl.color-docs .sect2 {
  color: rgba(var(--colors-neutral-10));
  background: var(--color-docs);
  /* background: none; */
  /* box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); */
  /* border: 1px solid #d5d9de; */
  /* padding: 0; */
}

body.docs-ndl.explainer .cards .sect2 a .icon {
  float: left;
  position: absolute;
}

/* body.docs-ndl.explainer .cards .sect2 .icon img {
  height: 4rem;
  width: 4rem;
} */

body.docs-ndl.explainer .cards .sect2 a h3,
body.docs-ndl.explainer .cards .sect2 a .description {
  margin-left: 5rem;
}

body.docs-ndl.color-docs .cards .sect2 h3,
body.docs-ndl.color-docs .cards .sect2 .description {
  color: rgba(var(--colors-neutral-10));
}

body.docs-ndl .cards.align-center .sect2 {
  align-items: center;
}

/* body.docs-ndl:not(.create-applications) .sect2 {
  min-height: 200px;
} */

body.docs-ndl .cards .sect2 a > h3,
body.docs-ndl .cards .sect2 a > div {
  margin: 0;
  padding: 0.25rem;
}

body.docs-ndl .highlights .sectionbody > div,
body.docs-ndl .sect2 a > div,
body.docs-ndl .sect2 a > h3 {
  display: flex;
}

body.docs-ndl .cards .sect2 .icon,
body.docs-ndl .widget .icon {
  order: 1;
  padding: 0;
  margin: 0;
}

body.docs-ndl .cards .sect2 .icon img {
  width: 4rem;
  height: 4rem;
  padding: 0;
}

body.docs-ndl .lists .sect2 .icon img,
body.docs-ndl .icon-s .sect2 .icon img {
  width: 3rem;
  height: 3rem;
  padding: 0;
}

body.docs-ndl .lists .sect2 .icon img path {
  color: rgba(var(--colors-baltic-30));
  fill: rgba(var(--colors-baltic-30));
}

body.docs-ndl .cards .sect2 h3,
body.docs-ndl .lists .sect2 h3 {
  /* flex-grow: 1; */
  order: 2;
  margin: 0;
}

body.docs-ndl .cards .sect2 h3 .anchor::before {
  display: none;
}

body.docs-ndl .cards .sect2 .paragraph:not(.icon) {
  font-size: var(--font-size-body-medium);
  line-height: 1.5;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
  /* z-index: 10; */
  /* margin: 0.5rem 1rem 0 1rem; */
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

body.docs-ndl .cards.selectable .sect2 .paragraph.link {
  display: none;
}

body.docs-ndl .cards .sect2 .paragraph.category {
  display: none;
}

body.docs-ndl .plain-links a.external::after {
  all: unset;
}

body.docs-ndl .highlights a {
  display: flex;
  justify-content: space-between;
}

body.docs-ndl .highlights a::after,
body.docs-ndl .cards .link a::after {
  margin-left: 0.5rem;
  content: "→";
  font-weight: 600;
  color: var(--link-font-color);
  transition: margin 0.2s linear;
}

body.docs-ndl .highlights a::after {
  display: flex;
  margin-left: 1.5rem;
}

body.docs-ndl .cards .sect2 .ulist {
  order: 4;
}

body.docs-ndl .cards .sect2 ul {
  margin: 0.2rem 0 0;
  padding: 0;
  text-align: right;
  font-size: 0.8rem;
}

body.docs-ndl .cards .sect2 ul li {
  display: inline-block;
  margin-bottom: 0;
}

body.docs-ndl .cards .sect2 ul li a {
  display: inline-block;
  color: rgba(var(--colors-baltic-50));
  border: 1px solid rgba(var(--colors-neutral-20));
  padding: 0.1rem 0.7rem;
  border-radius: 0.2rem;
  font-size: 0.7rem;
}

@media screen and (min-width: 1024px) {
  body.docs-ndl .toolbar {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  body.docs-ndl .doc {
    margin: 0 1rem;
  }
}

@media screen and (max-width: 1439px) {
  body.docs-ndl .doc {
    padding: 1rem;
  }

  body.docs-ndl .toolbar {
    top: 0;
  }

  body.docs-ndl .nav-container {
    z-index: 30;
    margin-top: var(--toolbar-height);
  }

  body.docs-ndl .cards .sectionbody > div.sect2 a {
    flex: 0 1 48%;
  }

  body.docs-ndl .cards .sect2 h3 {
    text-align: center;
  }

  body.docs-ndl .widget .sectionbody {
    row-gap: 2rem;
  }

  body.docs-ndl .widget .sectionbody > div {
    flex: 0 1 100%;
    justify-content: center;
  }

  body.docs-ndl .widget ul {
    text-align: center;
  }

  body.docs-ndl .lists .sectionbody > div.sect2 {
    flex: 0 0 50%;
  }

  body.docs-ndl .lists .sectionbody > div.sect2 > * {
    margin: 0 auto;
  }

  body.docs-ndl .highlights .sectionbody > div {
    flex: 0 1 100%;
    justify-content: center;
  }

  body.docs-ndl .highlights .sectionbody > div.openblock {
    order: 2;
  }

  body.docs-ndl .paragraph.caption,
  body.docs-ndl .paragraph.footer-link {
    justify-content: center;
  }

  body.docs-ndl.explainer .sectionbody > div.sect2 a {
    flex: 0 1 100%;
  }
}

@media all and (max-width: 600px) {
  body.docs-ndl .cards .sectionbody > div.sect2 a {
    /* min-width: 90%; */
    flex: 1 1 100%;
  }

  body.docs-ndl .lists .sectionbody > div.sect2 a {
    flex: 1 1 100%;
    padding: 1rem;
  }
}
