.feedback {
  position: fixed;
  bottom: 0;
  left: 1rem;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  background: var(--feedback-background-color);
  color: var(--feedback-color);
  padding: 0.5rem 1rem;
  width: calc(var(--nav-width) - 2rem);
  font-size: 0.8rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  z-index: 1000;
}

.feedback.negative {
  background: var(--feedback-negative-color);
  color: var(--feedback-negative-background-color);
}

.feedback.negative line {
  stroke: var(--feedback-negative-background-color);
}

.feedback.negative a {
  color: var(--feedback-negative-background-color);
}

.feedback.positive {
  background: var(--feedback-positive-color);
  color: var(--feedback-positive-background-color);
}

.feedback .header {
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 0;
}

.feedback .header p {
  display: flex;
  align-items: center;
  margin: 0;
  flex: 1;
}

.feedback svg {
  cursor: pointer;
}

.feedback .header svg {
  flex-grow: 0;
  margin-left: 0.5rem;
}

.feedback .form div {
  font-size: 0.7rem;
}

.feedback h2,
.feedback p {
  font-size: 0.9rem;
}

.feedback input {
  margin-right: 0.5rem;
}

.feedback .feedback-option {
  float: left;
}

.feedback label {
  font-size: 0.8rem;
}

.feedback div.more-information {
  margin: 10px 0;
}

.feedback textarea {
  border-radius: 0.25rem;
  border: 1px solid var(--color-blue-300);
  background: var(--color-white);
  width: 100%;
  font-family: inherit;
  font-size: 0.7rem;
  color: var(--color-blue-700);
  padding: 0.5rem;
}

.feedback path,
.feedback circle,
.feedback line {
  fill: transparent;
  stroke: var(--feedback-color);
  stroke-width: 1;
}

.feedback .primary,
.feedback .secondary {
  padding: 0.5rem 1rem;
  background: var(--color-blue-100);
  border: 1px solid var(--color-blue-700);
  color: var(--color-blue-700);
  border-radius: 0.175rem;
  font-size: 0.8rem;
  font-family: inherit;
  font-weight: 600;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.feedback .primary:focus,
.feedback .primary:active,
.feedback .secondary:focus,
.feedback .secondary:active {
  outline: none;
}

.feedback .primary {
  background: var(--color-blue-700);
  color: var(--color-white);
}

.feedback.negative textarea:active,
.feedback.negative textarea:focus {
  outline: none;
}

.feedback.negative .primary {
  background: var(--color-red-700);
  border-color: var(--color-red-700);
  color: var(--color-white);
}

.feedback.negative .secondary {
  background: var(--color-red-100);
  border-color: var(--color-red-700);
  color: var(--color-red-700);
}

.feedback.negative textarea {
  background: var(--color-white);
  border-color: var(--color-red-700);
  color: var(--color-red-700);
}

.feedback .thank-you-positive,
.feedback .thank-you-negative {
  flex-direction: column;
}

.feedback .thank-you-negative p {
  margin-bottom: 0.5rem;
}

.feedback .error {
  font-size: 0.8rem;
}

@media all and (max-width: 1024px) {
  .feedback {
    position: relative;
    margin: 1em 0;
    border-radius: 0.25rem;
    max-width: var(--doc-max-width);
    min-width: 0;
    right: auto;
    width: calc(var(--nav-width) - 2rem);
    box-shadow: none;
    margin-bottom: 2rem;
  }
}

@media all and (min-width: 1025px) {
  .feedback.absolute {
    position: absolute;
  }
}

.feedback a {
  display: inline-block;
  margin-left: 4px;
}
