footer.footer {
  background-color: var(--footer-background);
  color: var(--footer-font-color);
  font-size: calc(15 / var(--rem-base) * 1rem);
  line-height: var(--footer-line-height);
  padding: 2rem 0;
}

.footer .wrapper {
  display: flex;
  flex-direction: row;
  max-width: var(--doc-max-width);
  margin: auto;
  flex-wrap: wrap;
}

.footer .column {
  width: 50%;
  flex-grow: 1;
  min-width: 180px;

  padding: 1.5rem;
}


@media screen and (min-width: 1024px) {
  .footer .wrapper {
    flex: auto;
    max-width: 1280px;
  }

  .footer .column {
    width: 25%;
    flex-grow: 1;
    flex-wrap: wrap;
    padding: 1.5rem;
  }
}

@media screen and (max-width: 1023px) {
  .footer .column.links {
    padding-top: 0;
    padding-bottom: 0;
  }
  .footer .column.links h2 {
    margin-top: 0;
  }
}

.footer p {
  margin: 0.5rem 0;
}

.footer a {
  color: var(--footer-link-font-color);
  font-weight: 200;
}

.footer a:hover {
  color: var(--footer-link_hover-font-color);
}

footer .logo-footer {
  margin-bottom: 25px;
  height: 40px;
  background: url(../img/neo4j-logo-white.svg) no-repeat;
}


.footer h2 {
  font-size: calc(15 / var(--rem-base) * 1rem);
  font-weight: 200;
  color: var(--footer-link-font-color);
  margin: 65px 0 .5rem;
}

.footer ul {
  margin: 0.5rem 0;
  padding: 0;
}

.footer ul li {
  list-style-type: none;
  margin: 0 0 .2rem;
}

.footer ul li i {
  color: var(--colour-grey-500);
  font-size: 1rem;
  width: .8rem;
  text-align: center;
  display: inline-block;
  margin-right: .5rem;
}


.footer ul li.speaker-program {
  margin-top: 2rem;
}

footer ul li .speaker-program a {
  /* color: var(--footer-link-font-color); */
  font-size: normal;
}