footer.footer {
  background-color: var(--footer-background);
  color: var(--footer-font-color);
  font-size: var(--footer-font-size);
  line-height: var(--footer-line-height);
  padding: 2rem 0;
}

.footer .wrapper {
  display: flex;
  flex-direction: row;
  max-width: var(--doc-max-width);
  margin: auto;
  flex-wrap: wrap;
}

.footer .column.logo {
  width:100%;
}

.footer .column {
  display: flex;
  flex-direction: column;
  width: 33%;
  flex-grow: 1;
  min-width: 180px;
  padding: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .footer .wrapper {
    flex: auto;
    max-width: 1280px;
  }

  .footer .column {
    width: 33%;
    flex-grow: 1;
    flex-wrap: wrap;
    padding: 1.5rem;
  }
}

@media screen and (max-width: 1023px) {
  .footer .column.links {
    padding-top: 0;
    padding-bottom: 0;
  }

  .footer .column.links h2 {
    margin-top: 0;
  }
}

.footer p {
  margin: 0.5rem 0;
}

.footer a {
  color: var(--footer-link-font-color);
  font-weight: var(--body-font-weight);
}

.footer a:hover {
  color: var(--footer-link_hover-font-color);
  text-decoration: underline;
}

footer .logo-footer {
  width: inherit;
  height: 34px;
  padding: 0 1.5rem;
  background: url(../img/Logo_White_RGB_TransBG.svg) no-repeat;
}

.footer h2 {
  width: 100%;
  text-transform: uppercase;
  font-size: var(--font-size-body-medium);
  font-weight: 700;
  color: var(--footer-link-font-color);
}

.footer h2 a {
  font-weight: 700;
}

.footer ul {
  margin: 0.5rem 0;
  padding: 0;
}

.footer ul li {
  list-style-type: none;
  margin: 0 0 0.2rem;
}

.footer ul li i {
  color: var(--footer-font-color);
  font-size: 1rem;
  width: 0.8rem;
  text-align: center;
  display: inline-block;
  margin-right: 0.5rem;
}

.footer ul li.speaker-program {
  margin-top: 2rem;
}

footer ul li .speaker-program a {
  /* color: var(--footer-link-font-color); */
  font-size: normal;
}
