.gram {
  width: 100%;
  /* 12px padding top + 12px padding bottom */
  height: calc(600px - 24px);
  background: rgba(var(--colors-neutral-15));
  border-radius: 0.5rem;
}

.gram svg {
  height: 100%;
  width: 100%;
}
