body.graphgists .hero,
body.graphgist .hero {
  padding-bottom: 2em !important;
}

body.graphgists .leading .sectionbody {
  padding-top: 1rem;
}

body.graphgists .leading .sectionbody .imageblock.left {
  margin-right: 2rem;
}

body.graphgists ul.use-cases,
body.graphgists ul.industries {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, auto));
  margin: 0;
  padding: 1em 0 0;
}

body.graphgists ul.use-cases > li,
body.graphgists ul.industries > li {
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
}

body.graphgists ul.use-cases > li img,
body.graphgists ul.industries > li img {
  width: 1rem;
  max-height: 1rem;
  margin-right: 0.5em;
}

body.graphgists ul.graphgists {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, auto));
  margin: 0;
  padding: 1em 0 0;
}

body.graphgists ul.graphgists li::after {
  content: "";
  flex: auto;
}

body.graphgists ul.graphgists > li {
  padding: 1em;
  display: flex;
  flex-grow: 1;
}

body.graphgists ul.graphgists > li > a {
  cursor: pointer;
}

body.graphgists .graphgist-card {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.17);
  border-radius: 5px;
  display: grid;
  grid-template-rows: 250px 1fr;
  grid-template-columns: minmax(min-content, 400px);
}

body.graphgists .graphgist-card .graphgist-illustration {
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-position: center;
}

body.graphgists .graphgist-card > .graphgist-content {
  display: grid;
  grid-template-rows: min-content min-content 1fr;
  border-top: 1px #eaeaea solid;
  margin-top: 0.5rem;
  padding: 1.5rem 1rem 1rem;
}

body.graphgists .graphgist-card .graphgist-content h3 {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

body.graphgists .graphgist-card dl.graphgist-info > dd {
  padding: 0;
  margin: 0;
}

body.graphgists .graphgist-card dl.graphgist-info > dt {
  float: left;
  clear: left;
  text-align: right;
}

body.graphgists .graphgist-card dl.graphgist-info > dt::after {
  content: ": ";
  margin-right: 0.3em;
}

body.graphgists .graphgist-card .graphgist-info ul.graphgist-use-cases,
body.graphgists .graphgist-card .graphgist-info ul.graphgist-industries {
  margin: 0;
  padding: 0;
}

body.graphgists .graphgist-card .graphgist-info ul.graphgist-use-cases > li,
body.graphgists .graphgist-card .graphgist-info ul.graphgist-industries > li {
  display: inline;
}

body.graphgists .graphgist-card .graphgist-info ul.graphgist-use-cases > li:not(:last-child)::after,
body.graphgists .graphgist-card .graphgist-info ul.graphgist-industries > li:not(:last-child)::after {
  content: ", ";
}

/* graphgist page */

body.graphgist .navbar {
  border-bottom: none;
}

body.graphgist .doc {
  max-width: none;
  padding: 2em 0;
  margin: 0;
  width: 100%;
  flex: none;
}

body.graphgist .doc > .sect1 > .sectionbody {
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}

body.graphgist .graphgist-metadata dd,
body.graphgist .graphgist-metadata dt {
  display: inline-block;
  margin-left: 0;
  padding: 0;
}

.graphgist-metadata-menu ul {
  padding: 0;
  list-style: none;
  display: inline-flex;
  align-items: baseline;
}

.graphgist-metadata-menu ul > li:not(:last-child) {
  margin-right: 1rem;
}
