body.graphgists .hero,
body.graphgist .hero {
  padding-bottom: 2em !important;
}

body.graphgists .leading .sectionbody {
  padding-top: 1rem;
}

body.graphgists .leading .sectionbody .imageblock.left {
  margin-right: 2rem;
}

body.graphgists .breadcrumbs {
  padding: 0;
  font-size: 0.9rem;
}

body.graphgists .breadcrumbs ul {
  padding: 0;
}

body.graphgists ul.use-cases,
body.graphgists ul.industries {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, auto));
  margin: 0;
  padding: 1em 0 0;
}

body.graphgists ul.use-cases > li,
body.graphgists ul.industries > li {
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
}

body.graphgists ul.use-cases > li img,
body.graphgists ul.industries > li img {
  width: 1rem;
  max-height: 1rem;
  margin-right: 0.5em;
}

ul.graphgists {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, auto));
  margin: 0;
  padding: 1em 0 0;
  grid-gap: 3em 1.5em;
}

ul.graphgists li::after {
  content: "";
  flex: auto;
}

ul.graphgists > li {
  display: flex;
  flex-grow: 1;
}

ul.graphgists > li > a {
  cursor: pointer;
}

.graphgist-card {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  display: grid;
  grid-template-rows: 250px 1fr;
  grid-template-columns: minmax(min-content, 400px);
  background-color: var(--color-white);
}

.graphgist-card .graphgist-illustration {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-position: center;
}

.graphgist-card > .graphgist-content {
  display: grid;
  grid-template-rows: min-content min-content 1fr;
  border-top: 1px #eaeaea solid;
  margin-top: 0.5rem;
  padding: 1.5rem 1rem 1rem;
}

.graphgist-card .graphgist-content h3 {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  height: 4rem;
  line-height: 1.5rem;
}

.graphgist-card dl.graphgist-info > dd {
  padding: 0;
  margin: 0 0 0.5rem;
  color: var(--color-grey-600);
}

.graphgist-card dl.graphgist-info > dt {
  color: var(--color-grey-500);
  text-transform: uppercase;
  font-size: 0.8rem;
}

.graphgist-card dl.graphgist-info > dt::after {
  content: ": ";
  margin-right: 0.3em;
}

.graphgist-card .graphgist-info ul.graphgist-use-cases,
.graphgist-card .graphgist-info ul.graphgist-industries {
  margin: 0;
  padding: 0;
}

.graphgist-card .graphgist-info ul.graphgist-use-cases > li,
.graphgist-card .graphgist-info ul.graphgist-industries > li {
  display: inline;
}

.graphgist-card .graphgist-info ul.graphgist-use-cases > li:not(:last-child)::after,
.graphgist-card .graphgist-info ul.graphgist-industries > li:not(:last-child)::after {
  content: ", ";
}

ul.graphgists li:first-child {
  padding-left: 0;
}

ul.graphgists li:last-child {
  padding-right: 0;
}

/* graphgist page */

body.graphgist .navbar {
  border-bottom: none;
}

body.graphgist .doc {
  max-width: none;
  padding: 2em 0;
  margin: 0;
  width: 100%;
  flex: none;
}

body.graphgist .doc > .sect1 > .sectionbody {
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}

.graphgist-metadata {
  background: var(--color-grey-100);
  float: right;
  margin-left: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  padding: 1rem;
  border-radius: 0.5rem;
  width: 320px;
}

.graphgist-metadata dl {
  margin-top: 0;
}

.graphgist-metadata .graphgist-use-case,
.graphgist-metadata .graphgist-industry {
  display: block;
}

.graphgist-metadata dt {
  color: var(--color-grey-500);
  text-transform: uppercase;
  font-size: 0.8rem;
}

body.graphgist .graphgist-metadata dd,
body.graphgist .graphgist-metadata dt {
  display: block;
  margin-left: 0;
  padding: 0;
}

body.graphgist .graphgist-metadata dt:not(:first-child) {
  padding-top: 1em;
}

body.graphgist .graphgist-metadata fieldset {
  border: none;
  margin-top: 1.25em;
  padding: 0.25em 0 0;
}

body.graphgist .graphgist-metadata fieldset > legend {
  font-weight: 600;
  color: var(--color-grey-700);
}

body.graphgist .graphgist-metadata label {
  color: var(--color-grey-700);
  font-size: 0.9em;
}

body.graphgist .graphgist-metadata .field.has-addons {
  display: flex;
  justify-content: flex-start;
}

body.graphgist .graphgist-metadata .field.has-addons .control:first-child:not(:only-child) .input {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

body.graphgist .graphgist-metadata .field.has-addons .control:last-child:not(:only-child) .button {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

body.graphgist .graphgist-metadata .field.has-addons a.button {
  border-color: var(--color-purple-600);
  cursor: pointer;
  padding: calc(0.5em - 1px) 1em;
  border-radius: 0.375em;
  box-shadow: none;
  font-size: 1em;
  line-height: 1.5;
  /* Otherwise, the input field is misaligned with the button in Safari */
  height: 2.5em;
}

body.graphgist .graphgist-metadata .field.has-addons .control:not(:last-child) {
  margin-right: -1px;
}

body.graphgist .graphgist-metadata .input:active,
body.graphgist .graphgist-metadata .input:focus {
  border-color: var(--color-purple-600);
}

body.graphgist .graphgist-metadata .input:focus-visible {
  outline: none;
}

body.graphgist .graphgist-metadata .input {
  box-shadow: inset 0 0.0625em 0.125em rgb(10 10 10 / 5%);
  width: 100%;
  color: var(--color-grey-700);
  border-radius: 0.375em;
  align-items: center;
  border: 1px solid var(--color-grey-400);
  font-size: 1em;
  line-height: 1.5;
  padding: calc(0.5em - 1px) calc(0.75em - 1px);
  /* Otherwise, the input field is misaligned with the button in Safari */
  height: 2.5em;
}

body.graphgist .graphgist-metadata .control {
  box-sizing: border-box;
  clear: both;
  font-size: 1em;
  position: relative;
  text-align: inherit;
}

/* make sure that <pre> elements won't overlap with the metadata block (float) */
body.graphgist .listingblock pre {
  z-index: -1;
}

.graphgist-metadata-menu {
  padding-top: 1rem;
  border-top: 1px solid var(--color-grey-300);
}

.graphgist-metadata-menu ul {
  padding: 0;
  list-style: none;
}

.graphgist-metadata .button {
  display: block;
  width: 100%;
  margin: 0 0 0.5rem;
  background: var(--color-graphgists);
  border: 1px solid var(--color-white);
  padding: 0.5rem 1rem;
  color: var(--color-white) !important;
  font-size: 0.9rem;
}

.graphgist-metadata .button:hover {
  background-color: var(--color-purple-800) !important;
  /* color: var(--color-purple-800) !important; */
}

.graphgist-metadata .button.secondary {
  border: 1px solid var(--color-purple-600) !important;
  background: var(--color-white) !important;
  color: var(--color-purple-600) !important;
}

.graphgist-metadata .button.secondary:hover {
  background: var(--color-purple-100) !important;
}
