/*! Adapted from the GitHub style by Vasily Polovnyov <vast@whiteants.net> */
.hljs-comment,
.hljs-quote {
  color: rgba(var(--colors-neutral-50));
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: rgba(var(--colors-neutral-50));
  font-weight: var(--monospace-font-weight-bold);
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: rgba(var(--colors-baltic-50));
}

.hljs-string,
.hljs-doctag {
  color: rgba(var(--colors-forest-50));
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: rgba(var(--colors-lavender-50));
  font-weight: var(--monospace-font-weight-bold);
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: rgba(var(--colors-baltic-50));
  font-weight: var(--monospace-font-weight-bold);
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: rgba(var(--colors-lavender-40));
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: rgba(var(--colors-forest-50));
}

.hljs-symbol,
.hljs-bullet {
  color: var(--color-indigo-800);
}

.hljs-built_in,
.hljs-builtin-name {
  color: rgba(var(--colors-baltic-50));
}

.hljs-meta {
  color: rgba(var(--colors-neutral-50));
  /* font-weight: var(--monospace-font-weight-bold); */
}

.language-shell,
.language-cypher-shell {
  color: rgba(var(--colors-neutral-60));
}

.language-shell > .bash,
.language-cypher-shell > .cypher {
  color: initial;
}

.language-shell > .hljs-meta,
.language-cypher-shell > .hljs-meta {
  color: var(--color-indigo-800);
  user-select: none;
}

.language-shell .bash {
  color: rgba(var(--colors-neutral-80));
}

.hljs-deletion {
  background: rgba(var(--colors-neutral-20));
}

.hljs-addition {
  background: rgba(var(--colors-forest-30));
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: var(--monospace-font-weight-bold);
}
