/* Navbar */
body.kb .navbar {
  border-bottom: 0 none;
  border-top-color: var(--color-kb);
}

body.kb section.hero {
  padding: 8rem 0 0;
  background: var(--navbar-background);
  background: rgb(2, 0, 36);
  background: linear-gradient(180deg, var(--navbar-background) 0%, var(--hero-fade) 100%);
  text-align: left;
}

body.kb h1::after,
body.kb h2::after {
  background-color: var(--color-kb) !important;
}

body.kb .label {
  background-color: var(--color-kb) !important;
  color: rgba(var(--colors-neutral-15));
}

/* Hero */
body.kb .kb-search {
  max-width: 680px;
  margin: 2em auto 4rem;
  background: rgba(var(--colors-neutral-50));
  border-radius: 0.5rem;
  color: rgba(var(--colors-neutral-15));
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  cursor: pointer;
}

body.kb .kb-search .search-placeholder {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0.75rem 0;
}

body.kb .kb-search .search-shortcut {
  flex: 0 0 auto;
  color: rgba(var(--colors-neutral-70));
  background: rgba(var(--colors-neutral-50));
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-size: 0.8rem;
  /* font-family: monospace; */
  font-weight: 400;
}

body.kb .kb-search .kb-search-icon {
  padding-top: 2px;
}

body.kb .kb-search svg {
  flex-grow: 0;
  width: 1.6rem;
  height: 1.6rem;
  stroke: rgba(var(--colors-neutral-80));
  margin-left: 12px;
}

body.kb .hero {
  padding-bottom: 2em !important;
}

/* Doc */
body.kb-article .doc {
  max-width: initial;
  padding: 2em 0;
  margin: 0;
  width: 100%;
  flex: none !important;
}

body.kb-article .doc > .sect1 > .sectionbody {
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}

body.kb .doc .flex-container {
  padding: 2em 0 1em;
}

body.kb .doc .sectionbody {
  flex-wrap: wrap;
  padding: 0;
}

/* Landing Page */
body.landing.kb.kb-home .article.paragraph {
  padding: 0;
}

body.landing.kb.kb-home .sectionbody {
  padding-left: 1rem;
  padding-right: 1rem;
}

body.landing.kb.kb-home .flex-container .sectionbody .column {
  flex: 1 1 25%;
  flex-wrap: wrap;
  min-width: 13rem;
}

@media (min-width: 760px) {
  body.landing.kb.kb-home .flex-container .sectionbody .column {
    padding-left: 0;
    padding-right: 2rem;
  }
}

body.landing.kb .doc .sectionbody .column ul li a {
  font-weight: 200;
}

body.landing.kb .doc .sectionbody .column ul {
  list-style-type: none;
  padding: 0;
}

.landing .flex-container .category.column:first-child {
  margin-left: 0 !important;
}

.landing .flex-container .category.column:last-child {
  margin-right: 0 !important;
}

body.landing.kb.kb-home ul.category-tags span.count {
  float: right;
  color: rgba(var(--colors-neutral-80));
  align-items: center;
  display: inline-flex;
  font-size: 0.75em;
  height: 2em;
  justify-content: center;
  line-height: 1.25;
  padding-left: 0.75em;
  padding-right: 0.75em;
  white-space: nowrap;
  margin-right: 2rem;
}

/* Article */
body.kb .article.paragraph {
  padding: 0 1rem;
}

body.kb-article .doc h1 { display: block; }

body.kb h2 {
  font-weight: 200;
}

body.kb h2 span {
  color: var(--color-kb);
  font-weight: 600;
}

body.kb-article .heading {
  padding: 2em 0;
}

body.kb-category .breadcrumbs,
body.kb-tag .breadcrumbs {
  padding: 0 1rem;
}

body.kb-article .breadcrumbs {
  padding: 0;
}

body.kb-category .breadcrumbs ul,
body.kb-tag .breadcrumbs ul,
body.kb-article .breadcrumbs ul {
  padding: 0 !important;
  margin-bottom: 0.2rem;
  font-size: 0.8rem;
}

.kb-category .breadcrumbs a,
.kb-tag .breadcrumbs a,
.kb-article .breadcrumbs a {
  font-weight: 200;
}

.kb .breadcrumbs a::after {
  display: none;
}

.kb-article h1.page {
  margin: 0.5rem 0;
}

.kb .kb-metadata {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
  margin-bottom: 0;
}

.kb .kb-metadata-menu {
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
}

.kb .kb-metadata-menu dl {
  margin: 0;
}

.kb .kb-metadata dt,
.kb .kb-metadata dd {
  display: inline-block;
  padding: 0;
  margin-left: 0;
}

.kb-metadata dt::after {
  content: ":";
}

.kb .kb-metadata dd {
  margin: 0 1rem 0 0.2rem;
}

.kb .kb-metadata .edit-this-page {
  flex-grow: 1;
  flex-shrink: 0;
}

.kb .kb-metadata .edit-this-page a {
  font-weight: normal;
}

.kb .kb-metadata .edit-this-page a::after { display: none; }
