/*
body.kb-home .hero {
  background-image: url('../img/sandbox-v3-hero-bg-dark.jpg');
  background-repeat: no-repeat;
  background-size: auto;
  padding: 3rem 0 4.5rem;
  text-align: center;
  color: var(--colour-white);
}

body.kb-home .hero h1 {
  font-size: 3rem;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

body.kb-home .hero .row {
  justify-content: center;
  padding: 0 0.5rem;
}

body.kb-home .hero .row .columns {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

body.kb-home .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 2em;
}

body.kb-home .doc {
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 75rem;
  margin: auto;
}

.kb-metadata-menu {
  color: var(--kb-metadata-font-color);
  margin-bottom: 2rem;
}

.kb-metadata.sidebar .kb-metadata-menu {
  margin-right: 0.75rem;
  position: sticky;
  top: var(--kb-metadata-top);
}

.kb-metadata-menu dt {
  padding-top: 0.75rem;
}

.kb-metadata-menu dd {
  margin-left: 0;
}

.kb-metadata-menu dd span.keyword {
  background: var(--colour-grey-100);
  margin-right: 0.15rem;
  padding: 0.15em 0.5em;
  color: var(--colour-grey-700);
  font-size: 0.9rem;
  border-radius: 0.5em;
  margin-bottom: 0.5rem;
  display: inline-block;
}

.kb-metadata-menu dd span.version:last-child::after {
  content: "";
}

.kb-metadata-menu dd span.version::after {
  content: ", ";
}

.kb-metadata-menu .edit-this-page {
  display: flex;
  align-items: center;
}

.kb-metadata-menu .edit-this-page > a {
  color: var(--colour-grey-700);
  text-decoration: underline;
  font-size: 0.875rem;
}

.kb-metadata-menu .edit-this-page .octicon-mark-github {
  height: 1.1rem;
  padding-right: 0.25rem;
  fill: var(--colour-grey-700);
}

.row > .kb-categories {
  flex: 1;
  padding-right: 2em;
}

.kb-promoted {
  min-width: 20rem;
}

.kb-categories ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, auto));
}

.kb-categories ul ::after {
  content: "";
  flex: auto;
}

.kb-categories ul > li {
  display: block;
}

.kb-categories ul > li > a {
  display: block;
  background-color: var(--colour-green-500);
  color: white;
  padding: 2em;
  margin: 0.5em;
  text-align: center;
  font-weight: 400;
  cursor: pointer;
}

.kb-categories ul > li > a:hover {
  color: white;
  font-weight: 800;
}

.kb-categories ul > li > a:visited {
  color: var(--colour-grey-700);
}

body.kb-home section.kb-tags {
  padding-bottom: 2em;
}

.kb-tags ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.kb-tags ul > li > a {
  background: var(--colour-grey-100);
  margin-right: 0.15rem;
  padding: 0.15em 0.5em;
  color: var(--colour-grey-700);
  font-size: 0.9rem;
  border-radius: 0.5em;
  margin-bottom: 0.5rem;
  display: inline-block;
}

.kb-article a.keyword {
  background: var(--colour-grey-100);
  margin-right: 0.15rem;
  padding: 0.15em 0.5em;
  color: var(--colour-grey-700);
  font-size: 0.9rem;
  border-radius: 0.5em;
  margin-bottom: 0.5rem;
  display: inline-block;
}

.kb-article a.keyword:hover {
  background: var(--colour-grey-300);
}

.kb-article {
  display: none;
}

.kb-article .excerpt {
  padding-bottom: 0.75em;
}

.kb-article.is-visible {
  display: block;
}

.kb-article + .kb-article {
  border-bottom: 1px solid var(--colour-grey-200);
  padding-bottom: 0.5em;
  margin-bottom: 1em;
}

#kb-category-title,
#kb-tag-title {
  margin-top: 0;
}

main.article.kb-article > .content {
  margin: auto;
  max-width: 75rem;
}

main.article.kb-article .content h1 {
  margin: 1.5rem 0 1rem;
}

main.article.kb-article .content .back-link {
  margin-top: 2rem;
  display: block;
  text-decoration: underline;
}

#kb-search-button {
  max-width: 45rem;
  margin: auto;
  border-radius: 0.25rem;
  background: rgba(255, 255, 255, 0.8);
  padding: 0.85rem 1.25rem;
  color: var(--colour-grey-800);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
}

#kb-search-button .search-text {
  display: flex;
}

#kb-search-button .search-hint {
  background: #d2d5da;
  padding: 2px 7px;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.17);
}

.kb-search-icon {
  padding-right: 0.35em;
  height: 1.5em;
  width: 1.5em;
}

.kb-search-icon g {
  stroke: var(--colour-grey-700);
}

/* centered search box */
/*
.search-context--kb .search-container {
  max-width: 50rem;
  margin: 1.5rem auto auto;
  height: calc(100% - 3rem);
}
*/


body.landing.kb .article {
  padding: 0 1rem;
}

/* Navbar */

body.kb .navbar {
  border-bottom: 0px none;
}
body.kb .navbar {
  border-top-color: var(--colour-kb);
}
body.kb h1:after, body.kb h2:after {
  background-color: var(--colour-kb) !important;
}

body.kb .label {
  background-color: var(--colour-purple-200) !important;
  color: var(--colour-purple-800);
}

/* Hero */
body.kb .kb-search {
  margin-top: 2em;
  max-width: 680px;
  margin: 2em auto 4rem;
  background: var(--colour-grey-600);
  border-radius: .5rem;
  color: var(--colour-grey-200);
  padding: .5rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: .9rem;
}

body.kb .kb-search .search-placeholder {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: .75rem 0;
}

body.kb .kb-search .search-shortcut {
  flex: 0 0 auto;
  color: var(--colour-grey-700);
  background: var(--colour-grey-500);
  padding: .5rem 1rem;
  border-radius: .25rem;
  font-size: .8rem;
  /* font-family: monospace; */
  font-weight: 400;
}

body.kb .kb-search kb-search-icon {
  padding-top: 2px;
}
body.kb .kb-search svg {
  flex-grow: 0;
  width: 1.6rem;
  height: 1.6rem;
  stroke: var(--colour-grey-800);
  margin-left: 12px;
}

body.kb .hero {
  padding-bottom: 2em !important;
}


/* Doc */
body.kb .doc .flex {
  padding: 2em 0 1em;
}
body.kb .doc .sectionbody {
  flex-wrap: wrap;
  padding: 0;
}

/* Landing Page */
body.landing.kb .doc .sectionbody .column {
  flex: 1 1 25%;
}

body.landing.kb .doc .sectionbody .column ul li a {
  font-weight: 200;
}

body.landing.kb .doc .sectionbody .column ul {
  list-style-type: none;
  padding: 0;
}

.landing .flex .category.column:first-child {
  margin-left: 0 !important;
}
.landing .flex .category.column:last-child {
  margin-right: 0 !important;
}

/* body.kb .doc .sect1:nth-child(even) {
  background-color: var(--colour-grey-100);
} */


/* Article */
body.kb-article .doc h1 {display: block;}


body.kb h2 {
  font-weight: 200;
}
body.kb h2 span {
  color: var(--colour-kb);
  font-weight: 600;
}

body.kb-article .heading {
  padding-bottom: 0;
}
body.kb-article .breadcrumbs, body.kb-article .paragraph, body.kb-article .sect2 {
  padding: 0 1rem;
}
body.kb-article .sect2 > .paragraph {
  padding: 0;
}

body.kb-article .breadcrumbs ul {
  padding: 0 !important;
  margin-bottom: .2rem;
  font-size: .8rem;
}
.kb-article .breadcrumbs a {
  font-weight: 200;
}
.kb .breadcrumbs a:after {
  display: none;
}


.kb-article h1.page {
  padding: 0 1rem;
  margin: 0.5rem 0;
}

.kb  .kb-metadata {
  display: flex;
  flex-direction: column;
  font-size: .875rem;
  margin-bottom: 0;
  padding: 0 1rem;
}

.kb .kb-metadata-menu {
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
}
.kb .kb-metadata-menu dl {
  margin: 0;
}

.kb  .kb-metadata dd, .kb  .kb-metadata dt, .kb  .kb-metadata dd {
  display: inline-block;
  padding: 0;
  margin-left: 0;
}
.kb-metadata dt:after {
  content: ":";
}

.kb .kb-metadata dd {
  margin: 0 1rem 0 .2rem;
}

.kb .kb-metadata .edit-this-page {
  flex-grow: 1;
  flex-shrink: 0;
}
.kb .kb-metadata .edit-this-page a {
  font-weight: normal;
}
.kb .kb-metadata .edit-this-page a:after {display: none;}

.kb-article.is-hidden {
  display: none;
}