div.labels {
  font-family: var(--body-font-family);
}

.flex-labels-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row-reverse;
}

.header-label-container {
  display: flex;
  flex-wrap: wrap;
}

.admonitionblock > div.labels {
  padding: 1rem 1rem 0.75rem;
}

.header-label-container > div.labels {
  display: flex;
  align-self: center;
  justify-content: space-between;
  gap: 0.25rem;
  margin-left: auto;
  line-height: var(--doc-line-height);
}

.sect-header .header-label-container > div.labels {
  padding-top: 0.4rem;
}

.header-label-container > div.labels.wrapped {
  margin-left: 0;
  margin-top: 0.5rem;
}

.doc > .sect-header > h1.page:first-child:has(> .labels) {
  margin-right: 0;
}

h1 > .header-label {
  margin-top: 1.2rem;
}

.header-label-container > .header-label:first-of-type {
  margin-left: auto;
}

.doc .tableblock caption > .labels {
  float: inline-end;
  margin-top: -0.25rem;
}

.listing-block .content-labels,
.example-block .content-labels {
  margin-bottom: 0.2rem;
}

.content-labels {
  margin-bottom: 0.2rem;
}

.has-label {
  padding-left: 0.4rem;
  border-left: 2px solid rgba(var(--colors-baltic-60));
}

.has-label:has(> .labels > .label--new) {
  border-left-color: var(--success-color);
}

.has-label:has(> .labels > .label--deprecated) {
  border-left-color: var(--deprecated-color);
}

h2 > .flex-label {
  float: inline-end;
  line-height: var(--doc-line-height);
  margin-left: 0.2rem;
  margin-top: 0.2rem;
}

.label {
  display: inline-block;
  padding: 0.2rem 0.8rem;
  border-radius: 0.25rem;
  background: rgba(var(--colors-baltic-50));
  color: rgba(var(--colors-baltic-10));
  font-weight: 600;
  font-size: 0.7rem;
  font-style: normal;
}

.tableblock .label {
  margin-top: 0.2rem;
}

span.label--core,
span.label--apoc-core {
  background: rgba(var(--colors-baltic-20));
  color: rgba(var(--colors-baltic-70));
}

span.label--full,
span.label--apoc-full {
  background: rgba(var(--colors-forest-15));
  color: rgba(var(--colors-forest-50));
}

span.label--procedure {
  background: var(--color-indigo-200);
  color: var(--color-indigo-700);
}

span.label--function {
  background: rgba(var(--colors-lavender-15));
  color: rgba(var(--colors-lavender-50));
}

span.label--current {
  background: rgba(var(--colors-baltic-50));
  color: rgba(var(--colors-baltic-10));
}

span.label--free,
span.label--beginner {
  background: var(--colors-blueberry-70);
  color: var(--color-white);
}

span.label--not-on-aura {
  background: var(--warning-color);
  color: var(--warning-background-color);
}

span.label--aura-db-enterprise {
  background: rgba(var(--colors-baltic-50));
  color: rgba(var(--colors-baltic-10));
}

span.label--aura,
span.label--enterprise-only,
span.label--professional,
span.label--enterprise,
span.label--enterprise-edition {
  background: rgba(var(--colors-baltic-50));
  color: rgba(var(--colors-baltic-10));
}

span.label--default,
span.label--recommended {
  background: rgba(var(--theme-light-palette-primary-bg-strong));
  color: rgba(var(--theme-light-palette-primary-bg-weak));
}

span.label--added,
span.label--changed,
span.label--new,
span.label--featured,
span.label--renamed,
span.label--updated,
span.label--yes {
  background: var(--success-color);
  color: var(--success-background-color);
}

span.label--alpha,
span.label--beta {
  background: var(--alpha-beta-background-color);
  color: var(--alpha-beta-color);
}

span.label--na,
span.label--no,
span.label--removed {
  background: var(--warning-color);
  color: var(--warning-background-color);
}

span.label--admin-only,
span.label--danger,
span.label--warning {
  background: var(--warning-color);
  color: var(--warning-background-color);
}

span.label--discontinued {
  background: var(--discontinued-color);
  color: var(--discontinued-background-color);
}

span.label--deprecated {
  background: var(--deprecated-background-color);
  color: var(--deprecated-color);
}

span.label--unix,
span.label--mac-os,
span.label--linux,
span.label--windows {
  background: rgba(var(--colors-baltic-70));
  color: rgba(var(--colors-neutral-10));
}

span.label--syntax,
span.label--functionality,
span.label--cypher {
  background: var(--code-background);
  color: var(--code-font-color);
}

span.label--cluster-member-core {
  background: rgba(var(--colors-baltic-15));
  color: rgba(var(--colors-baltic-50));
}

span.label--cluster-member-read-replica {
  background: rgba(var(--colors-forest-15));
  color: rgba(var(--colors-forest-50));
}

span.label--cluster-member-single {
  background: rgba(var(--colors-lemon-10));
  background: rgba(var(--colors-lemon-60));
}

span.label--labs {
  background: var(--color-labs);
}

span.label--graph-academy {
  background: var(--success-color);
}
