.label {
  display: inline-block;
  padding: 0.2rem 0.8rem;
  border-radius: 0.25rem;
  background: var(--color-blue-200);
  color: var(--color-blue-700);
  font-weight: 600;
  font-size: 0.7rem;
}

.label--core,
.label--apoc-core {
  background: var(--color-blue-200);
  color: var(--color-blue-700);
}

.label--full,
.label--apoc-full {
  background: var(--color-green-200);
  color: var(--color-green-700);
}

.label--procedure {
  background: var(--color-indigo-200);
  color: var(--color-indigo-700);
}

.label--function {
  background: var(--color-purple-200);
  color: var(--color-purple-700);
}

.label--current {
  background: var(--color-blue-600);
  color: var(--color-white);
}

.label--free,
.label--beginner {
  background: var(--neo4j-blueberry-color);
  color: var(--color-white);
}

.label--aura,
.label--enterprise-only,
.label--professional,
.label--enterprise,
.label--enterprise-edition {
  background: var(--neo4j-primary-color);
  color: var(--color-white);
}

.label--added,
.label--updated,
.label--changed,
.label--yes,
.label--renamed,
.label--new {
  background: var(--color-green-300);
  color: var(--color-black);
}

.label--na,
.label--no,
.label--removed {
  background: var(--color-red-400);
  color: var(--color-black);
}

.label--deprecated,
.label--discontinued {
  background: var(--color-orange-400);
  color: var(--color-black);
}

.label--danger,
.label--warning {
  background: var(--neo4j-warning-color);
  color: var(--color-black);
}

.label--default,
.label--recommended {
  background: var(--color-indigo-300);
  color: var(--color-black);
}

.label--unix,
.label--mac-os,
.label--linux,
.label--windows {
  background: var(--color-teal-400);
  color: var(--color-black);
}

.label--syntax,
.label--functionality,
.label--cypher {
  background: var(--label-group-syntax);
  color: var(--color-black);
}

.label--cluster-member-core {
  background: var(--color-indigo-300);
  color: var(--color-white);
}

.label--cluster-member-read-replica {
  background: var(--color-green-300);
  color: var(--color-white);
  
}
.label--cluster-member-single {
  background: var(--color-yellow-300);
  color: var(--color-white);
}
