div.labels {
  font-family: var(--body-font-family);
}

.flex-labels-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row-reverse;
}

.header-label-container {
  display: flex;
  flex-wrap: wrap;
}

.admonitionblock div.labels {
  padding: 0.5rem 0 1rem;
}

.exampleblock div.labels {
  padding: 0.5rem;
}

.header-label-container > div.labels {
  display: flex;
  align-self: center;
  justify-content: space-between;
  gap: 0.25rem;
  margin-left: auto;
  line-height: var(--doc-line-height);
}

.sect-header .header-label-container > div.labels {
  padding-top: 0.4rem;
}

.header-label-container > div.labels.wrapped {
  margin-left: 0;
  margin-top: 0.5rem;
}

.doc > .sect-header > h1.page:first-child:has(> .labels) {
  margin-right: 0;
}

h1 > .header-label {
  margin-top: 1.2rem;
}

.header-label-container > .header-label:first-of-type {
  margin-left: auto;
}

.doc .tableblock caption > .labels {
  float: inline-end;
  margin-top: -0.25rem;
}

.listing-block .content-labels,
.example-block .content-labels {
  margin-bottom: 0.2rem;
}

.content-labels {
  margin-bottom: 0.2rem;
}

.paragraph.has-label {
  padding-left: 0.4rem;
  border-left: 2px solid var(--palette-baltic-60);
}

.paragraph.has-label:has(> .labels > .label--new) {
  border-left-color: var(--success-color);
}

.paragraph.has-label:has(> .labels > .label--deprecated) {
  border-left-color: var(--deprecated-color);
}

h2 > .flex-label {
  float: inline-end;
  line-height: var(--doc-line-height);
  margin-left: 0.2rem;
  margin-top: 0.2rem;
}

.label {
  display: inline-block;
  /* height: 24px; */
  padding: 0.2rem 0.8rem;
  /* justify-content: center; */
  /* align-items: center; */
  flex-shrink: 0;
  border-radius: 9999px;
  background: var(--label-default-background-color);
  color: var(--label-default-color);
  font-weight: 600;
  font-size: var(--label-title-font-size);
  font-style: normal;
}

.tableblock .label {
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}

span.label--added,
span.label--changed,
span.label--new,
span.label--featured,
span.label--renamed,
span.label--updated,
span.label--yes {
  background: var(--label-success-color);
  color: var(--label-success-background-color);
}

span.label--admin-only,
span.label--danger,
span.label--discontinued,
span.label--na,
span.label--no,
span.label--not-on-aura,
span.label.not-available,
span.label--removed,
span.label--warning {
  background: var(--label-warning-background-color);
  color: var(--label-warning-color);
}

span.label--deprecated {
  background: var(--deprecated-background-color);
  color: var(--deprecated-color);
}

span.label--alpha,
span.label--beta,
span.label--beta-until {
  background: var(--alpha-beta-background-color);
  color: var(--alpha-beta-color);
}

span.label--procedure,
span.label--function,
span.label--unix,
span.label--mac-os,
span.label--linux,
span.label--windows,
span.label--syntax,
span.label--functionality,
span.label--cypher,
span.label--cluster-member-core,
span.label--cluster-member-read-replica,
span.label--cluster-member-single,
span.label--core,
span.label--apoc-core,
span.label--full,
span.label--apoc-full {
  background: var(--label-os-background-color);
  color: var(--label-os-color);
}

span.label--labs,
span.label--labs-label {
  color: var(--label-labs-color);
  background: var(--label-labs-background-color);
}

span.label--graph-academy {
  background: var(--success-color);
}
