body.labs-home .hero {
    background-image: url('https://cdn.neo4jlabs.com/images/lab-pipette-big.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8rem 0;
    text-align: center;
    color: var(--colour-white);
    margin-bottom: 2rem;
}

body.labs-home .hero h1 {
    font-size: 3rem;
    font-weight: 200;
    margin-top: 0;
    margin-bottom: .5rem;
}

body.labs-home .hero p {
    font-size: 1.5rem;
    font-weight: 400;
    max-width: 420px;
    margin: auto;
}

body.labs-home .sect1 {
    padding: 2em 0;
}

body.labs-home .doc h2 {
    text-align: center;
    border-bottom: 0px none;
}

body.labs-home .doc h2,
body.labs-home .doc .sectionbody {
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 820px;
    margin: auto;
}
body.labs-home .doc .paragraph {
    margin-top: 0;
    font-size:1rem;
}

body.labs-home .doc h2 {
    margin-bottom: 2rem;
}

body.labs-home .feedback {
    display: none;
}

body.labs-home .secondary .sect2 {
    padding-left: 6rem;
    background: transparent url(https://cdn.neo4jlabs.com/images/beaker.png) no-repeat top left;
    background-size: 5rem auto;
}
body.labs-home .secondary .sect2:last-child {
    padding-left: 0;
    background: transparent;
}

body.labs-home .secondary .sect2 h3 {
    font-size: 1rem;
    margin-bottom: .2rem;
}
body.labs-home .secondary .sect2 .paragraph, body.labs-home .secondary .sect2 .ulist {
    margin-top: 0;
    font-size: .9rem;
}


/*

body.tiles {
    background: var(--colour-grey-100);
}

body.tiles .content {
    align-items: center;
    flex-direction: column;
}

body.tiles .doc {
    max-width: 820px;
}

body.tiles .doc h1.page {
    display: none;
}

body.tiles .doc .paragraph {
    flex: 0 0 100%;
    margin: 2rem auto;
    text-align: center;
    color: var(--colour-grey-600);
    font-size: 1.2rem;
    max-width: 640px;
}

body.tiles .doc h2 {
    border-bottom: 0px none;
}

body.tiles .sectionbody {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 12px -12px;
}

body.tiles .sect2 {
    background: var(--colour-white);
    flex: 1;

    min-width: 30%;
    padding: 12px;
    margin: 12px;

    border-radius: .5rem;

    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

@media all and (max-width: 820px) {
    body.tiles .sect2 {
        min-width: 90%;
    }
}

body.tiles .sect2 h3 {
    font-size: 1rem;
    color: var(--colour-blue-800);
    margin-bottom: 0;
}

body.tiles .sect2 .paragraph {
    font-size: .8rem;
    text-align: left;
    margin-top: .5rem;
    color: var(--colour-grey-500);
    max-width: auto;
}

body.tiles .sect2 ul {
    margin: .2rem 0 0;
    padding: 0;
    text-align: right;
    font-size: .8rem;
}

body.tiles .sect2 ul li {
    display: inline-block;
    margin-bottom: 0;
}

body.tiles .sect2 ul li a {
    display: inline-block;
    color: var(--colour-blue-600);
    border: 1px solid var(--colour-grey-200);
    padding: .1rem .7rem;
    border-radius: .2rem;
    font-size: .7rem;
}
*/
