.navbar,
.search .search-container .search-form {
  background: var(--navbar-background);
  border-top-color: var(--color-docs);
}

.navbar,
.navbar-brand .navbar-item:first-child,
.navbar-brand .navbar-item:first-child a {
  color: var(--palette-neutral-60);
}

@media screen and (min-width: 1024px) {
  .navbar-end > .navbar-item,
  .navbar-end .navbar-link {
    color: var(--navbar-font-color);
  }

  .navbar-end > a.navbar-item:hover,
  .navbar-end .navbar-link:hover {
    color: var(--toc-heading-font-color);
  }

  .navbar-end .navbar-link::after {
    border-color: var(--toc-heading-font-color);
  }

  .navbar-item.has-dropdown:hover .navbar-link {
    color: var(--toc-heading-font-color);
  }
}

.navbar-burger {
  color: var(--color-docs);
}

.navbar-burger span {
  background: var(--color-docs);
}
