.doc .paragraph .title {
  font-weight: var(--body-font-weight-bold);
}

.doc .listingblock.dot {
  height: 400px;
  overflow: scroll;
  border: 2px solid var(--note-color);
}

.docs.image-border article img,
.docs article .border img {
  border: 1px solid var(--color-docs);
  border-radius: 4px;
  padding: 1rem;
}

.docs.image-shadow article img,
.docs article .shadow img {
  box-shadow:
    2px 2px 4px 0 rgba(var(--colors-neutral-50)),
    0 4px 4px 2px rgba(var(--colors-neutral-30)),
    0 4px 6px 4px rgba(var(--colors-neutral-20)),
    4px 4px 4px 4px rgba(var(--colors-neutral-10));
}

.docs article .no-border img {
  border: none;
  padding: 0;
}

.docs article .no-shadow img {
  box-shadow: none;
}

section.deprecated .title::after {
  bottom: 4px;
  margin-left: 10px;
}

div.roles,
div.roles > span.role {
  display: inline-flex;
  gap: 8px;
  font-size: calc(36 / var(--rem-base) * 1rem);
  line-height: 1.3;
}

@media screen and (max-width: 1023px) {
  div.roles,
  div.roles > span.role::after {
    margin-left: 0;
  }

  div.roles,
  div.roles > span.role {
    margin-bottom: 0;
  }
}

.sect1.alpha h2::after,
.sect1.beta h2::after,
.sect2.alpha h3::after,
.sect2.beta h3::after,
span.alpha::after,
span.beta::after,
body.deprecated article h2::after,
body.deprecated article h3::after,
body.deprecated article h4::after,
div.deprecated h2::after,
div.deprecated h3::after,
div.deprecated h4::after,
body.deprecated article dt::after,
p.deprecated::before,
section.deprecated .title::after,
span.deprecated::after,
.deprecated > .title::after,
div.not-on-aura h2::after,
div.not-on-aura h3::after,
div.not-on-aura h4::after,
p.not-on-aura::before,
section.not-on-aura .title::after,
span.not-on-aura::after,
div.aura-db-enterprise h2::after,
div.aura-db-enterprise h3::after,
div.aura-db-enterprise h4::after,
p.aura-db-enterprise::before,
section.aura-db-enterprise.title::after,
span.aura-db-enterprise::after,
section.enterprise-edition .title::after,
div.enterprise-edition h2::after,
div.enterprise-edition h3::after,
div.enterprise-edition h4::after,
p.enterprise-edition::before,
span.enterprise-edition::after,
body.fabric article h2::after,
body.fabric article h3::after,
body.fabric article h4::after,
div.fabric h2::after,
div.fabric h3::after,
div.fabric h4::after,
section.fabric .title::after,
p.fabric::before,
span.fabric::after {
  display: inline-block;
  text-align: center;
  font-family: var(--body-font-family);
  font-weight: var(--font-weight-semibold);
  font-style: normal;
  font-size: 0.7rem;
  line-height: var(--doc-line-height);
  padding: 0.2rem 0.8rem;
  border-radius: 0.25rem;
  position: relative;
  bottom: 2px;
  margin-left: 0.5rem;
}

.doc > .sect-header span.role::after {
  bottom: 0.5rem;
}

.sect1.show-roles h2::after,
.sect2.show-roles h3::after,
.sect3.show-roles h4::after {
  display: none;
}

.sect1.show-roles h2,
.sect2.show-roles h3,
.sect2.show-roles h4 {
  flex-grow: 1;
}

.sect2.show-roles div.roles,
.sect2.show-roles div.roles > span.role {
  font-size: 1rem;
  margin-bottom: 0;
}

.sect-header {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin-bottom: 1rem;
}

.sect1:not(.display) > .sect-header {
  border-bottom: 1px solid var(--section-divider-color);
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
}

.sect1 div.roles > span.role,
div.roles > span.role::after {
  margin: 0;
}

.doc .sect-header h2 {
  border-bottom: none;
  margin-bottom: 0;
}

body.deprecated article h2::after,
body.deprecated article h3::after,
body.deprecated article h4::after,
div.deprecated h2::after,
div.deprecated h3::after,
div.deprecated h4::after,
.deprecated dt::after,
p.deprecated::before,
section.deprecated .title::after,
.deprecated > .title::after,
span.deprecated::after {
  content: "Deprecated";
  background: var(--deprecated-background-color);
  border-color: var(--deprecated-background-color);
  color: var(--deprecated-color);
  margin-left: 8px;
}

div.not-on-aura h2::after,
div.not-on-aura h3::after,
div.not-on-aura h4::after,
p.not-on-aura::before,
section.not-on-aura .title::after,
span.not-on-aura::after {
  content: "Not available on Aura";
  background-color: var(--not-on-aura-background-color);
  border-color: var(--not-on-aura-background-color);
  color: var(--not-on-aura-color);
}

div.aura-db-enterprise h2::after,
div.aura-db-enterprise h3::after,
div.aura-db-enterprise h4::after,
p.aura-db-enterprise::before,
section.aura-db-enterprise.title::after,
span.aura-db-enterprise::after {
  content: "AuraDB Enterprise";
  background: var(--aura-db-enterprise-background-color);
  border-color: var(--aura-db-enterprise-background-color);
  color: var(--aura-db-enterprise-color);
}

div.enterprise-edition h2::after,
div.enterprise-edition h3::after,
div.enterprise-edition h4::after,
p.enterprise-edition::before,
section.enterprise-edition .title::after,
span.enterprise-edition::after {
  content: "Enterprise Edition";
  background: var(--enterprise-edition-background-color);
  border-color: var(--enterprise-edition-background-color);
  color: var(--enterprise-edition-color);
}

div.fabric h2::after,
div.fabric h3::after,
div.fabric h4::after,
p.fabric::before,
section.fabric .title::after,
span.fabric::after {
  content: "Fabric";
  background-color: var(--fabric-background-color);
  border-color: var(--fabric-background-color);
  color: var(--fabric-color);
}

.admonitionblock td.icon .icon-::before {
  content: "\f088";
  color: #f58220;
}

.doc .admonitionblock.deprecated .icon {
  background-color: var(--deprecated-color);
  color: var(--deprecated-background-color);
}

.doc .admonitionblock.deprecated .icon i::after {
  content: 'DEPRECATED';
}

.doc .admonitionblock.deprecated {
  background-color: var(--color-pink-200);
  border-left-color: var(--color-pink-600);
  color: var(--color-pink-900);
}

.doc .admonitionblock.deprecated pre {
  background-color: var(--color-red-100);
  color: var(--color-red-700);
}

.doc .admonitionblock.deprecated a {
  color: var(--color-red-600);
}

.doc pre {
  font-size: calc(14 / var(--rem-base) * 1rem);
}

.doc .paragraph.statsonlyqueryresult,
.doc .paragraph.erroronlyqueryresult {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: calc(14 / var(--rem-base) * 1rem);
  background-color: var(--code-result-background);
  margin: 0;
  margin-top: -1.5rem;
  margin-right: 30%;
  margin-bottom: 1.5rem;
  margin-left: 2rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 1.5rem;
}

/* GDS */

.sect1.alpha h2::after,
.sect1.beta h2::after,
.sect2.alpha h3::after,
.sect2.beta h3::after,
span.alpha::after,
span.beta::after {
  background: var(--alpha-beta-background-color);
  color: var(--alpha-beta-color);
}

.sect1.alpha h2::after,
.sect2.alpha h3::after,
span.alpha::after {
  content: "Alpha";
}

.sect1.beta h2::after,
.sect2.beta h3::after,
span.beta::after {
  content: "Beta";
}

div.tier-note p {
  padding: 10px;
  /* text-align: justify; */
}

div.tier-note p::before {
  border-right: thin solid var(--alpha-beta-background-color);
  padding: 0 10px;
  margin-right: 10px;
  font-family: fantasy;
  font-size: 2rem;
  color: var(--alpha-beta-background-color);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

div.alpha-symbol p::before {
  content: "\03b1";
}

div.beta-symbol p::before {
  content: "\03b2";
}

.function-reference::after {
  content: '\2A0D';
  margin-left: 0.5em;
  padding: 0 0.5em;
  background-color: var(--color-purple-200);
  color: var(--color-purple-700);
  display: inline-flex;
  border-radius: 25%;
}

.graph-variants > .title {
  color: #4a5568 !important;
  font-style: normal !important;
  font-size: calc(20 / var(--rem-base) * 1rem) !important;
}

.graph-variants > .content {
  display: flex;
  flex-flow: row wrap;
}

@media screen and (max-width: 1244px) {
  .graph-variants > .content > .paragraph {
    flex: 0 0 30%;
  }
}

@media screen and (max-width: 582px) {
  .graph-variants > .content > .paragraph {
    flex: 1 1 20%;
  }
}

@media screen and (min-width: 1245px) {
  .graph-variants > .content > .paragraph {
    flex: 1 1 auto;
  }
}

.graph-variants > .content > .paragraph {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  white-space: nowrap;
  padding: 0.2rem 0.3rem;
  margin: 0.5em 1em 0 0;
  line-height: 1em;
  border-radius: 0.2rem;
}

.graph-variants > .content > .supported::before {
  content: '\2714';
  margin-right: 0.5em;
  color: var(--success-color);
}

.graph-variants > .content > .supported {
  background-color: var(--success-background-color);
  color: var(--success-color);
}

.graph-variants > .content > .allowed::before {
  content: '(\2714)';
  margin-right: 0.5em;
  color: var(--note-color);
}

.graph-variants > .content > .allowed {
  background-color: var(--note-background-color);
  color: var(--note-color);
}

.graph-variants > .content > .not-supported {
  background-color: var(--warning-background-color);
  color: var(--warning-color);
}

.graph-variants > .content > .not-supported::before {
  content: '\2716';
  margin-right: 0.5em;
  background-color: var(--warning-background-color);
  color: var(--warning-color);
}
