.page-versions {
  display: none;
  margin-right: 0.7rem;
  position: relative;
  line-height: 1;
}

@media screen and (min-width: 1024px) {
  .page-versions {
    display: block;
  }
}

.page-versions .version-menu-toggle {
  color: inherit;
  background: url(../img/chevron.svg) no-repeat;
  background-position: right 0.5rem top 50%;
  background-size: auto 0.75em;
  border: none;
  outline: none;
  line-height: inherit;
  padding: 0.5rem 1.5rem 0.5rem 0.5rem;
  position: relative;
  z-index: var(--z-index-page-version-menu);
}

.page-versions .version-menu {
  background-color: var(--page-version-menu-background);
  border: 1px solid var(--page-version-menu-border);
  border-radius: 3px;
  padding: 1.25rem 0.5rem 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.page-versions:not(.is-active) .version-menu {
  display: none;
}

.page-versions .version {
  display: block;
  padding-top: 0.5rem;
}

.page-versions .version.is-current {
  display: none;
}

.page-versions .version.is-missing {
  color: var(--page-version-missing-font-color);
  font-style: italic;
  text-decoration: none;
}

/* All styles are from design system tokens */
.dropdown-styles {
  display: grid;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 8px 12px;
  padding-right: 28px;
  border-radius: var(--border-radius-sm);
  border: 1px solid rgb(var(--palette-light-neutral-border-strong));
  background-color: rgb(var(--palette-light-neutral-bg-weak));
  /* %23535B66 -> #535B66 -> neutral-text-weak */
  background-image: url("data:image/svg+xml,<svg width='20' height='20' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23535B66'><path stroke-linecap='round' stroke-linejoin='round' d='M19.5 8.25l-7.5 7.5-7.5-7.5' /></svg>");
  background-position: right 5px top 50%;
  background-repeat: no-repeat;
  text-overflow: ellipsis;
}

.dropdown-styles::after {
  grid-area: select;
}

// Remove dropdown arrow in IE10 & IE11
// @link https://www.filamentgroup.com/lab/select-css.html
.dropdown-styles::-ms-expand {
  display: none;
}

.dropdown-label {
  text-color: rgb(var(--palette-light-neutral-text-weak));
}
