/* .docs a {
    color: var(--colour-docs);
} */

/*
body.docs {
    --navbar-background: var(--colour-white);
    --navbar-top-border: var(--colour-docs);

    --navbar-font-color: var(--colour-grey-600);
    --navbar_hover-background: transparent;

    --nav-bullet-color: var(--colour-blue-300);
}
*/
body.docs .navbar,
body.docs .search .search-container .search-form {
  background: var(--colour-white);
  border-top-color: var(--colour-docs);
}

body.docs .navbar,
body.docs .navbar-brand .navbar-item:first-child,
body.docs .navbar-brand .navbar-item:first-child a {
  color: var(--colour-grey-600);
}

@media screen and (min-width: 1024px) {
  body.docs .navbar-end > .navbar-item,
  body.docs .navbar-end .navbar-link {
    color: var(--colour-grey-600);
  }

  body.docs .navbar-end > a.navbar-item:hover,
  body.docs .navbar-end .navbar-link:hover {
    color: var(--colour-grey-600);
  }

  body.docs .navbar-end .navbar-link::after {
    border-color: var(--colour-grey-600);
  }

  body.docs .navbar-item.has-dropdown:hover .navbar-link {
    color: var(--colour-grey-600);
  }
}

body.docs .navbar-burger {
  color: var(--colour-grey-600);
}

body.docs .navbar-burger span {
  background: var(--colour-grey-600);
}

body.docs .doc .button {
  background: var(--colour-blue-600);
  color: var(--colour-white);
}

body.docs .doc .button:hover {
  background: var(--colour-blue-500);
  color: var(--colour-white);
}

body.docs .nav-item .nav-item::before,
body.docs .toc-menu li a::before {
  background-color: var(--colour-blue-300);
}

body.docs .tooltip {
  border-bottom-color: var(--colour-docs);
}

body.docs .tooltip--top::after {
  border-bottom-color: var(--colour-docs);
}

body.docs .tooltip.tooltip--bottom::after {
  border-top-color: var(--colour-docs);
}

body.docs #preamble .abstract .title,
body.docs #preamble .abstract blockquote {
  border-left-color: var(--colour-docs);
  color: var(--colour-blue-800);
}

body.docs .tableblock .icon i {
  color: var(--colour-blue-600);
}

body.docs .navbar .navbar-item.try .navbar-link {
  background: var(--colour-blue-500);
  color: var(--colour-white);
}

/*
body.labs {
    --navbar-background: var(--colour-white);
    --navbar-top-border: var(--navbar-font-color);

    --navbar-font-color: var(--colour-grey-600);
    --navbar_hover-background: transparent;

    --nav-bullet-color: var(--colour-purple-300);
}
*/
body.labs .navbar,
body.labs .search .search-container .search-form {
  background: var(--colour-white);
  border-top-color: var(--colour-labs);
}

body.labs .navbar,
body.labs .navbar-brand .navbar-item:first-child,
body.labs .navbar-brand .navbar-item:first-child a {
  color: var(--colour-grey-600);
}

@media screen and (min-width: 1024px) {
  body.labs .navbar-end > .navbar-item,
  body.labs .navbar-end .navbar-link {
    color: var(--colour-grey-600);
  }

  body.labs .navbar-end > a.navbar-item:hover,
  body.labs .navbar-end .navbar-link:hover {
    color: var(--colour-grey-600);
  }

  body.labs .navbar-end .navbar-link::after {
    border-color: var(--colour-grey-600);
  }

  body.labs .navbar-item.has-dropdown:hover .navbar-link {
    color: var(--colour-grey-600);
  }
}

body.labs .navbar-burger {
  color: var(--colour-grey-600);
}

body.labs .navbar-burger span {
  background: var(--colour-grey-600);
}

body.labs .doc .button {
  background: var(--colour-purple-500);
  color: var(--colour-white);
}

body.labs .doc .button:hover {
  background: var(--colour-purple-400);
  color: var(--colour-white);
}

body.labs .nav-item .nav-item::before,
body.labs .toc-menu li a::before {
  background-color: var(--colour-blue-300);
}

body.labs .tooltip {
  border-bottom-color: var(--colour-labs);
}

body.labs .tooltip--top::after {
  border-bottom-color: var(--colour-labs);
}

body.labs .tooltip.tooltip--bottom::after {
  border-top-color: var(--colour-labs);
}

body.labs #preamble .abstract .title,
body.labs #preamble .abstract blockquote {
  border-left-color: var(--colour-labs);
  color: var(--colour-purple-800);
}

body.labs .tableblock .icon i {
  color: var(--colour-purple-600);
}

body.labs .navbar .navbar-item.try .navbar-link {
  background: var(--colour-purple-400);
  color: var(--colour-white);
}

/* Labs Home Page */
body.landing.labs .hero {
  background-color: var(--colour-purple-600);
  background-image: url('https://cdn.neo4jlabs.com/images/lab-pipette-big.jpg');
  /* background-image: url('https://cdn.neo4jlabs.com/images/lab-pipette-big-overlay.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
}

body.landing.labs .hero h2 {
  color: var(--colour-white);
}
body.landing.labs h2:after {
  background-color: var(--colour-purple-600) !important;
}

body.landing.labs .hero p {
  color: var(--colour-white);
}

body.landing.labs .hero svg.top {
  background: transparent;
  fill:  var(--colour-purple-600);
}

body.landing.labs .hero svg.bottom {
  background: var(--colour-purple-600);
  fill:  var(--colour-white);
}

body.landing.labs .buttons  {
  background: var(--colour-purple-600);
}

body.landing.labs .buttons li a {
  background: var(--colour-purple-800);
  color: white;
}

body.landing.labs .buttons li a:hover {
  background: var(--colour-purple-700);
}

body.landing.labs .buttons li a:active {
  background: var(--colour-blue-600);
}




/* body.developer {
    --nav-bullet-color: var(--colour-grey-500);
} */
body.developer .navbar,
body.developer .search .search-container .search-form {
  border-top-color: var(--colour-green-600);
}

body.developer .nav-item .nav-item::before,
body.developer .toc-menu li a::before {
  background-color: var(--colour-grey-500);
}

.developer .navbar-brand #neo4j {
  fill: var(--colour-white);
}

.developer .navbar-brand #developer {
  fill: var(--colour-grey-400);
}

body.developer .doc .button {
  background: var(--colour-green-700);
  color: var(--colour-white);
}

body.developer .doc .button:hover {
  background: var(--colour-green-600);
  color: var(--colour-white);
}

body.developer .doc .button:active {
  background: var(--colour-grey-600);
  color: var(--colour-white);
}

body.developer #preamble .abstract .title,
body.developer #preamble .abstract blockquote {
  border-left-color: var(--colour-green-600);
}

body.developer .tableblock .icon i {
  color: var(--colour-green-600);
}

body.developer .navbar .navbar-item.try .navbar-link {
  background: var(--colour-grey-700);
  color: var(--colour-white);
}

/* Developer Home Page */
body.landing.developer .navbar {
  border-bottom: 0px none;
}

body.landing.developer .hero {
  background: linear-gradient(180deg, var(--colour-grey-800) 0%,var(--colour-grey-700) 45%,  var(--colour-grey-700) 100%);
}


@media all and (min-width: 760px) {
  /* .landing.developer .languages {
    padding: 1em 0 4em;
  } */

  .landing.developer .languages h3 {
    display: none;
  }

  .landing.developer .languages .flex {
    text-align: center;
  }

}

.landing.developer .languages ul {
  padding: 0;
  margin: 0;
}
.landing.developer .languages ul li {
  margin-bottom: 0;
  list-style: none;
}

.landing.developer .languages ul li a {
  font-weight: 400;
}

body.landing.developer .hero svg.top {
  background: var(--colour-grey-700);
  fill:  var(--colour-grey-600);
}

body.landing.developer .hero svg.bottom {
  background: var(--colour-grey-600);
  fill:  var(--colour-grey-300);
}

body.landing.developer .buttons  {
  background: var(--colour-grey-600);
}

body.landing.developer .buttons li a {
  background: var(--colour-grey-800);
  color: white;
}

body.landing.developer .buttons li a:hover {
  background: var(--colour-grey-700);
}

body.landing.developer .buttons li a:active {
  background: var(--colour-green-600);
}


/* KB */
body.kb .navbar,
body.kb .search .search-container .search-form {
  border-top-color: var(--colour-kb);
}

.kb .navbar-brand #developer {
  fill: var(--colour-grey-400);
}

.kb .navbar-brand #neo4j {
  fill: var(--colour-white);
}