body.docs .banner .button {
  margin-top: 24px;
}

body.docs .banner .button a {
  display: flex;
  width: fit-content;
  font-size: var(--font-size-h6);
  color: var(--banner-font-color);
  font-weight: 600;
}

body.docs .banner .button a:hover {
  text-decoration: none;
}

body.docs .nav-item .nav-item::before,
body.docs .toc-menu li a::before {
  color: var(--link-font-color);
}

body.docs .tooltip {
  border-bottom-color: var(--color-docs);
}

body.docs .tooltip--top::after {
  border-bottom-color: var(--code-header-background);
}

body.docs .tooltip.tooltip--bottom::after {
  border-top-color: var(--color-docs);
}

body.docs #preamble .abstract .title,
body.docs #preamble .abstract blockquote {
  border-left-color: var(--abstract-border-color);
}

body.docs .tableblock .icon i:not(.fa) {
  color: var(--color-docs);
}

/* positive and negative */

body.docs .icon i.fa-thumbs-up {
  color: var(--theme-light-color-success-icon);
}

body.docs .icon i.fa-thumbs-down {
  color: var(--theme-light-color-danger-icon);
}

body.docs .navbar .navbar-item.getting-started-cta .navbar-link {
  background: var(--button-background);
  color: var(--button-font-color);
  border: 1px solid var(--button-border-color);
}

body.docs .navbar .navbar-item.getting-started-cta .navbar-link:hover {
  background: var(--hover-button-background);
  color: var(--hover-button-font-color);
}

body.docs .navbar .navbar-item.getting-started-cta .navbar-link:active {
  background: var(--active-button-background);
  color: var(--active-button-font-color);
}

body.docs .banner .button .banner-link:active {
  background: var(--banner-background-color);
}

body.labs .navbar,
body.labs .search .search-container .search-form {
  border-top-color: var(--color-labs);
}

body.labs .navbar-burger {
  color: var(--color-labs);
}

body.labs .navbar-burger span {
  background: var(--color-labs);
}

/* body.labs .nav-item .nav-item::before,
body.labs .toc-menu li a::before {
  background: var(--color-labs);
} */

body.labs .tooltip {
  border-bottom-color: var(--color-labs);
}

body.labs .tooltip--top::after {
  border-bottom-color: var(--color-labs);
}

body.labs .tooltip.tooltip--bottom::after {
  border-top-color: var(--color-labs);
}

body.labs .tableblock .icon i {
  color: var(--color-labs);
}

body.labs .navbar .navbar-item.getting-started-cta .navbar-link {
  background: var(--color-labs);
  color: light-dark(var(--dark--body-font-color), var(--body-font-color));
}

body.labs .navbar .navbar-item.getting-started-cta .navbar-link:hover {
  background: var(--color-labs);
  color: light-dark(var(--dark--color-labs), var(--color-labs));
}

/* Labs Home Page */
body.landing.labs .hero {
  background-color: var(--color-labs);
  background-image: url('https://cdn.neo4jlabs.com/images/lab-pipette-big.jpg');
  /* background-image: url('https://cdn.neo4jlabs.com/images/lab-pipette-big-overlay.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
}

body.landing.labs .hero h2 {
  color: var(--body-font-color);
}

body.landing.labs h2::after {
  background-color: var(--color-labs) !important;
}

body.landing.labs .hero p {
  color: var(--dark--body-font-color);
}

.landing.labs .hero .buttons::before {
  background: var(--color-labs-weak);
}

.landing.labs .hero .buttons::after {
  background-color: var(--landing-leading-background);
}

body.landing.labs .buttons > * {
  background: var(--color-labs-weak);
}

body.landing.labs .buttons li a {
  background: var(--color-labs);
  color: light-dark(var(--dark--body-font-color), var(--body-font-color));
}

body.landing.labs .buttons li a:hover {
  /* background: var(--palette-lavender-50); */
}

body.landing.labs .buttons li a:active {
  /* background: var(--color-blue-600); */
}

/* body.developer {
    --nav-bullet-color: rgba(var(--palette-neutral-50));
} */
body.developer .navbar,
body.developer .search .search-container .search-form {
  border-top-color: var(--color-developer);
}

.developer .navbar-brand #neo4j-group {
  fill: var(--color-white);
}

.developer .navbar-brand #developer {
  fill: var(--palette-neutral-40);
}

body.developer .tableblock .icon i:not(.fa) {
  color: var(--color-green-600);
}

body.developer .navbar .navbar-item.getting-started-cta .navbar-link {
  background: var(--color-developer);
  color: var(--button-font-color);
}

body.developer .navbar .navbar-item.getting-started-cta:hover .navbar-link {
  background: var(--palette-baltic-60);
}

/* Developer Home Page */
body.landing.developer .navbar {
  border-bottom: 0 none;
}

body.landing.developer .hero {
  background: linear-gradient(180deg, var(--palette-neutral-80) 0%, var(--palette-neutral-70) 45%, var(--palette-neutral-70) 100%);
}

@media all and (min-width: 760px) {
  /* .landing.developer .languages {
    padding: 1em 0 4em;
  } */

  .landing.developer .languages h3 {
    display: none;
  }

  .landing.developer .languages .flex-container {
    text-align: center;
  }
}

.landing.developer .languages ul {
  padding: 0;
  margin: 0;
}

.landing.developer .languages ul li {
  margin-bottom: 0;
  list-style: none;
}

.landing.developer .languages ul li a {
  font-weight: 400;
}

body.landing.developer .hero .buttons::before {
  background-color: var(--palette-neutral-60);
}

body.landing.developer .hero .buttons::after {
  background-color: var(--landing-leading-background);
}

body.landing.developer .sect1 .buttons > * {
  background: var(--palette-neutral-60);
}

body.landing.developer .buttons li a {
  background: var(--palette-neutral-80);
  color: var(--color-white);
}

body.landing.developer .buttons li a:hover {
  background: var(--palette-neutral-70);
}

body.landing.developer .buttons li a:active {
  background: var(--color-green-600);
}

/* KB */
body.kb svg.kb {
  margin-bottom: 10px;
}

body.kb .navbar,
body.kb .search .search-container .search-form {
  border-top-color: var(--color-kb);
}

.kb .navbar-brand #developer {
  fill: var(--palette-neutral-40);
}

.kb .navbar-brand #neo4j-group {
  fill: var(--color-white);
}

body.kb .navbar .navbar-item.getting-started-cta .navbar-link {
  background: var(--color-labs);
  color: var(--color-white);
}

body.kb .navbar .navbar-item.getting-started-cta .navbar-link:hover {
  background: var(--palette-lavender-50);
}

body.kb .navbar .navbar-item.getting-started-cta .navbar-link:active {
  background: var(--palette-lavender-60);
}

body.kb .banner .banner-item.button-cta .banner-link {
  background: var(--color-labs);
  color: var(--color-white);
}

body.kb .banner .banner-item.button-cta .banner-link:hover {
  background: var(--palette-lavender-50);
}

body.kb .banner .banner-item.button-cta .banner-link:active {
  background: var(--palette-lavender-60);
}

body.training .navbar,
body.training .search .search-container .search-form {
  border-top-color: var(--color-training);
  border-bottom: 0;
}

.training .navbar-brand #developer {
  fill: var(--palette-neutral-40);
}

.training .navbar-brand #neo4j-group {
  fill: var(--color-white);
}

/* Graphgists */
body.graphgists .sect1.hero h2::after {
  background-color: var(--color-graphgists) !important;
}

body.graphgists svg.graphgists {
  margin-bottom: 10px;
}

body.graphgists .navbar,
body.graphgists .search .search-container .search-form {
  border-top-color: var(--color-graphgists);
  border-bottom-color: var(--color-black);
}

.graphgists .navbar-brand #developer {
  fill: var(--palette-neutral-40);
}

.graphgists .navbar-brand #neo4j-group {
  fill: var(--color-white);
}

body.graphgists .navbar .navbar-item.getting-started-cta .navbar-link {
  background: var(--color-labs);
  color: var(--color-white);
}
