.toc .toc-ad {
  border: 1px solid var(--color-grey-300);
  padding: 1rem 0.5rem;
  border-radius: 0.5rem;
  margin: 2rem -0.5rem 0;
}

.toc .toc-ad a {
  padding: 0 !important;
  border-left: 0 none !important;
}

.toc .toc-ad a:active {
  background-color: var(--color-white) !important;
}

.toc .toc-ad .toc-ad-overline {
  font-size: 0.7rem;
  color: rgba(var(--colors-neutral-60));
  text-transform: uppercase;
  background-color: var(--color-white);
}

.toc .toc-ad .toc-ad-overline a {
  padding-left: 0 !important;
  border-left: 0 none !important;
  color: rgba(var(--colors-neutral-60));
}

.toc .toc-ad .toc-ad-image {
  width: 80%;
  margin: 0.2rem auto;
}

.toc .toc-ad .toc-ad-overline a:hover {
  color: var(--color-grey-800);
}

.toc .toc-ad .toc-ad-title {
  color: rgba(var(--colors-baltic-50));
  font-size: 1rem;
  margin: 0.2rem 0 !important;
  padding: 0 !important;
}

.toc .toc-ad-description {
  color: rgba(var(--colors-neutral-50));
  font-size: 0.8rem;
  margin-top: 0;
}

.toc .toc-ad-underline {
  color: rgba(var(--colors-baltic-50));
  font-weight: bold;
  font-size: 0.8rem;
}

.toc .toc-ad-underline-button,
.toc .toc-ad .button {
  border-radius: 0.25rem;
  background-color: rgba(var(--colors-baltic-50));
  color: var(--color-white);
  display: inline-block;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
}

.doc .ad {
  border: 1px solid var(--color-grey-300);
  border-radius: 0.5rem;
  background: var(--color-white);
  margin: 2rem -1rem 0;
  padding: 1rem;
  position: relative;
  z-index: 1000;
}

.doc .ad h2 {
  color: rgba(var(--colors-neutral-50));
  font-size: 0.8rem !important;
  text-transform: uppercase;
  margin-top: 0;
}

.doc .ad h2 a {
  color: rgba(var(--colors-neutral-50));
}

.doc .ad .anchor {
  display: none;
}

.doc .ad a::after {
  display: none !important;
}

.doc .ad h3 {
  margin-bottom: 0.3rem;
}

.doc .ad .paragraph {
  margin-bottom: 0.5rem;
}

.doc .ad .paragraph:last-child p {
  margin-bottom: 0;
}

.doc .ad .paragraph a.button {
  font-size: 0.8rem;
  margin: 0 1rem 0.2rem 0;
  padding: 0.25rem 1rem;
}

.doc .ad .imageblock.left,
.doc .ad .imageblock.right {
  width: 20% !important;
  max-width: 120px;
  margin: 0 1.5rem 1rem 0 !important;
}

@media screen and (min-width: 580px) {
  .doc .ad.left {
    float: left;
    max-width: 50%;
    margin-right: 1.5rem;
    margin-bottom: 2rem;
  }

  .doc .ad.right {
    float: right;
    max-width: 50%;
    margin-left: 1.5rem;
    margin-bottom: 2rem;
  }

  .doc .ad.left::after,
  .doc .ad.right::after {
    content: "";
    display: block;
    clear: both;
  }
}
