.toc-menu {
  color: var(--toc-font-color);
  margin-bottom: 2rem;
  width: 220px !important;
}

.toc.sidebar {
  padding-right: 1rem;
  padding-bottom: 2rem;
  position: relative;
}

.toc.sidebar .toc-menu {
  margin-right: 0.75rem;
  position: sticky;
  top: calc(var(--toc-top) + 1rem);
}

.toc .toc-menu h2 {
  color: var(--toc-heading-font-color);
  font-size: var(--doc-font-size-h5);
  font-weight: var(--body-font-weight-bold);
  line-height: 1.5;
  margin: 1rem -0.5px 0;
  padding: 1.5rem 0 1.25rem;
}

.toc.sidebar .toc-menu h3 {
  display: flex;
  flex-direction: column;
  height: 2.5rem;
  justify-content: flex-end;
}

.toc .toc-menu ul {
  font-size: calc(15 / var(--rem-base) * 1rem);
  line-height: var(--toc-line-height);
  list-style: none;
  margin: 0;
  padding: 0;
}

.toc.sidebar .toc-menu ul {
  max-height: var(--toc-height);
  overflow-y: auto;
  scrollbar-width: none;
}

.page-wide .toc-menu {
  width: fit-content !important;
  min-width: 50%;
}

.page-wide .toc-menu h2 {
  border: none;
}

.page-wide .toc.sidebar .toc-menu ul {
  max-height: 12rem;
  overflow-y: scroll;
  scrollbar-width: thin;
  border: 1px solid rgba(var(--theme-light-palette-neutral-bg-strong));
  box-shadow: 0 2px 4px var(--code-header-background), 0 1px 2px 0 var(--code-header-background);
  padding: 0.25rem;
}

.page-wide .toc.sidebar .toc-menu ul li a {
  border: none;
}

.page-wide .toc.sidebar .toc-menu ul li a:hover {
  color: var(--link_hover-font-color);
}

.toc .toc-menu ul::-webkit-scrollbar {
  width: 0;
}

@media screen and (min-width: 1024px) {
  .toc .toc-menu h3 {
    /* font-size: calc(15 / var(--rem-base) * 1rem); */
  }

  .toc .toc-menu ul {
    /* font-size: calc(13.5 / var(--rem-base) * 1rem); */
  }
}

.toc .toc-menu li {
  margin: 0;
}

.toc .toc-menu li a {
  position: relative;
}

.toc-menu li a::before {
  top: 0.25rem;
  left: 0;
  margin-left: -0.4em;
  /* background: var(--link-font-color); */
  opacity: 0;
}

.toc .toc-menu li[data-level="1"] a {
  padding-left: 1rem;
}

.toc .toc-menu li[data-level="2"] a {
  padding-left: 2rem;
}

.toc .toc-menu li[data-level="3"] a {
  padding-left: 3rem;
}

.toc .toc-menu a {
  color: inherit;
  border-left: 1px solid rgba(var(--colors-neutral-20));
  display: inline-block;
  padding: 0.25rem 0 0.25rem 0.5rem;
  text-decoration: none;
}

.sidebar.toc .toc-menu a {
  display: block;
  outline: none;
}

.toc .toc-menu a:hover {
  color: var(--toc-font-color);
}

.toc .toc-menu a.is-active {
  border-left-color: var(--link-font-color);
  color: var(--link-font-color);
  /* color: var(--toc_active-font-color); */
}

.toc .toc-menu a.is-active::before {
  background: var(--toc-bullet-color);
}

.toc .toc-menu a.is-active::before,
.toc .toc-menu a:hover::before {
  opacity: 1;
}

.sidebar.toc .toc-menu a:focus {
  background: var(--panel-background);
}

.toc .toc-menu .is-hidden-toc {
  display: none !important;
}

.toc-sidebar .toc-menu {
  margin-bottom: 4rem;
}

aside.toc.embedded {
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #e2e8f0;
  padding-bottom: 0.5rem;
}
