:root {
  --colour-black: #F7F7F7;
  --colour-white: #fff;

  --colour-grey-100: #f7fafc;
  --colour-grey-200: #edf2f7;
  --colour-grey-300: #e2e8f0;
  --colour-grey-400: #cbd5e0;
  --colour-grey-500: #a0aec0;
  --colour-grey-600: #718096;
  --colour-grey-700: #4a5568;
  --colour-grey-800: #2d3748;
  --colour-grey-900: #1a202c;

  --colour-red-100: #fff5f5;
  --colour-red-200: #fed7d7;
  --colour-red-300: #feb2b2;
  --colour-red-400: #fc8181;
  --colour-red-500: #f56565;
  --colour-red-600: #e53e3e;
  --colour-red-700: #c53030;
  --colour-red-800: #9b2c2c;
  --colour-red-900: #742a2a;

  --colour-orange-100: #fffaf0;
  --colour-orange-200: #feebc8;
  --colour-orange-300: #fbd38d;
  --colour-orange-400: #f6ad55;
  --colour-orange-500: #ed8936;
  --colour-orange-600: #dd6b20;
  --colour-orange-700: #c05621;
  --colour-orange-800: #9c4221;
  --colour-orange-900: #7b341e;

  --colour-yellow-100: #fffff0;
  --colour-yellow-200: #fefcbf;
  --colour-yellow-300: #faf089;
  --colour-yellow-400: #f6e05e;
  --colour-yellow-500: #ecc94b;
  --colour-yellow-600: #d69e2e;
  --colour-yellow-700: #b7791f;
  --colour-yellow-800: #975a16;
  --colour-yellow-900: #744210;

  --colour-green-100: #f0fff4;
  --colour-green-200: #c6f6d5;
  --colour-green-300: #9ae6b4;
  --colour-green-400: #68d391;
  --colour-green-500: #48bb78;
  --colour-green-600: #38a169;
  --colour-green-700: #2f855a;
  --colour-green-800: #276749;
  --colour-green-900: #22543d;

  --colour-teal-100: #e6fffa;
  --colour-teal-200: #b2f5ea;
  --colour-teal-300: #81e6d9;
  --colour-teal-400: #4fd1c5;
  --colour-teal-500: #38b2ac;
  --colour-teal-600: #319795;
  --colour-teal-700: #2c7a7b;
  --colour-teal-800: #285e61;
  --colour-teal-900: #234e52;

  --colour-blue-100: #ebf8ff;
  --colour-blue-200: #bee3f8;
  --colour-blue-300: #90cdf4;
  --colour-blue-400: #63b3ed;
  --colour-blue-500: #4299e1;
  --colour-blue-600: #3182ce;
  --colour-blue-700: #2b6cb0;
  --colour-blue-800: #2c5282;
  --colour-blue-900: #2a4365;

  --colour-indigo-100: #ebf4ff;
  --colour-indigo-200: #c3dafe;
  --colour-indigo-300: #a3bffa;
  --colour-indigo-400: #7f9cf5;
  --colour-indigo-500: #667eea;
  --colour-indigo-600: #5a67d8;
  --colour-indigo-700: #4c51bf;
  --colour-indigo-800: #434190;
  --colour-indigo-900: #3c366b;

  --colour-purple-100: #faf5ff;
  --colour-purple-200: #e9d8fd;
  --colour-purple-300: #d6bcfa;
  --colour-purple-400: #b794f4;
  --colour-purple-500: #9f7aea;
  --colour-purple-600: #805ad5;
  --colour-purple-700: #6b46c1;
  --colour-purple-800: #553c9a;
  --colour-purple-900: #44337a;

  --colour-pink-100: #fff5f7;
  --colour-pink-200: #fed7e2;
  --colour-pink-300: #fbb6ce;
  --colour-pink-400: #f687b3;
  --colour-pink-500: #ed64a6;
  --colour-pink-600: #d53f8c;
  --colour-pink-700: #b83280;
  --colour-pink-800: #97266d;
  --colour-pink-900: #702459;


  --colour-developer: var(--colour-grey-400);
  --colour-labs: var(--colour-purple-400);
  --colour-docs: var(--colour-blue-400);

  /*
},
spacing: {
  px: '1px',
  '0': '0',
  '1': '0.25rem',
  '2': '0.5rem',
  '3': '0.75rem',
  '4': '1rem',
  '5': '1.25rem',
  '6': '1.5rem',
  '8': '2rem',
  '10': '2.5rem',
  '12': '3rem',
  '16': '4rem',
  '20': '5rem',
  '24': '6rem',
  '32': '8rem',
  '40': '10rem',
  '48': '12rem',
  '56': '14rem',
  '64': '16rem',
}, */


  /* colors */
  /* --color-white: ;
  --color-smoke-10: #fefefe;
  --color-smoke-30: #fafafa;
  --color-smoke-50: #f5f5f5;
  --color-smoke-70: #f0f0f0;
  --color-smoke-90: #e1e1e1;
  --color-gray-10: #c1c1c1;
  --color-gray-30: #8e8e8e;
  --color-gray-50: #808080;
  --color-gray-70: #5d5d5d;
  --color-jet-20: #4a4a4a;
  --color-jet-30: #424242;
  --color-jet-50: #333;
  --color-jet-70: #222;
  --color-jet-80: #191919;
  --color-black: #000; */

  /* fonts */
  --rem-base: 18; /* used to compute rem value from desired pixel value (e.g., calc(18 / var(--rem-base) * 1rem) = 18px) */
  --body-font-weight: 200;
  --body-font-size: 1.0625em; /* 17px */
  --body-font-size--desktop: 1em; /* 18px */
  --body-font-size--print: 0.9375em; /* 15px */
  --body-line-height: 1.5;
  --body-font-color: var(--colour-grey-700);
  --body-font-family: "Open Sans", sans-serif;
  --body-font-weight-bold: 600;
  --monospace-font-family: "Roboto Mono", monospace;
  --monospace-font-weight-bold: 500;

  /* base */
  --body-background: var(--colour-white);
  --panel-background: var(--colour-grey-100);
  --panel-border-color: var(--colour-grey-200);
  --scrollbar-thumb-color: var(--colour-grey-100);
  /* navbar */
  --navbar-background: var(--colour-grey-800);
  --navbar-font-color: var(--colour-grey-100);
  --navbar-font-weight: 400;
  --navbar_hover-background: transparent; /* var(--colour-grey-800);*/
  --navbar-button-background: var(--colour-orange-600);
  --navbar-button-border-color: var(--colour-blue-800);
  --navbar-button-font-color: var(--colour-blue-100);
  --navbar-menu-border-color: var(--panel-border-color);
  --navbar-menu-background: var(--colour-white);
  --navbar-menu-font-color: var(--body-font-color);
  --navbar-menu_hover-background: transparent; /* var(--colour-grey-800);*/

  --navbar-top-border: var(--colour-grey-200);
  --navbar-bottom-border: var(--colour-grey-300);

  --navbar-dropdown-link: var(--colour-blue-600);

  --navbar-developer-border: var(--colour-developer);
  --navbar-docs-border: var(--colour-docs);
  --navbar-labs-border: var(--colour-labs);

  /* nav */
  --nav-background: var(--panel-background);
  --nav-border-color: var(--colour-grey-200);
  --nav-font-weight: 200;
  --nav_active-font-weight: 400;
  --nav-line-height: 1.35;
  --nav-heading-font-color: var(--colour-grey-500);
  --nav-muted-color: var(--colour-grey-400);
  --nav-panel-divider-color: var(--colour-grey-200);
  --nav-secondary-background: var(--colour-grey-300);
  --nav-bullet-color: var(--colour-grey-400);

  /* toolbar */
  --toolbar-background: var(--panel-background);
  --toolbar-border-color: var(--panel-border-color);
  --toolbar-font-color: var(--color-gray-70);
  --toolbar-muted-color: var(--color-gray-30);
  --page-version-menu-background: var(--colour-white);
  --page-version-menu-border: var(--colour-grey-300);
  --page-version-missing-font-color: var(--color-gray-30);

  /* toc */
  --toc-font-color: var(--colour-grey-600);
  --toc-heading-font-color: var(--colour-grey-700);
  --toc-border-color: var(--colour-grey-300);
  --toc-line-height: 1.2;
  --toc-bullet-color: var(--colour-grey-400);

  /* admonitions */
  --caution-color: var(--colour-orange-600);
  --caution-on-color: var(--color-white);
  --important-color: var(--colour-purple-600);
  --important-on-color: var(--colour-white);
  --note-color: var(--colour-purple-600);
  --note-on-color: var(--colour-white);
  --tip-color:  var(--colour-blue-600);
  --tip-on-color: var(--colour-white);
  --warning-color: var(--colour-red-600);
  --warning-on-color: var(--colour-white);

  --mark-background: var(--colour-yellow-200);

  /* doc */
  --doc-font-color: var(--colour-grey-800);
  --doc-font-size: inherit;
  --doc-font-size--desktop: calc(17 / var(--rem-base) * 1rem);
  --doc-line-height: 1.8;
  --doc-margin: 0 auto;
  --doc-margin--desktop: 0 2rem;
  --heading-font-color: var(--colour-grey-700);
  --heading-font-weight: normal;
  --alt-heading-font-weight: var(--body-font-weight-bold);
  --section-divider-color: var(--colour-grey-300);
  --link-font-color: #1565c0;
  --link_hover-font-color: #104d92;
  --link_unresolved-font-color: var(--important-color);
  --abstract-background:  var(--colour-white); /* var(--panel-background); */
  --abstract-font-color: var(--color-jet-20);
  --abstract-border-color: var(--panel-border-color);
  --admonition-background: var(--panel-background);
  --admonition-label-font-weight: var(--body-font-weight-bold);
  --caption-font-color: var(--color-gray-70);
  --caption-font-weight: var(--body-font-weight-bold);
  --code-background: var(--panel-background);
  --code-font-color: var(--body-font-color);
  --code-header-background: var(--colour-grey-800);
  --code-header-font-color: var(--colour-grey-100);
  --code-button-background: var(--colour-grey-700);
  --code-button-active-background: var(--colour-grey-600);
  --code-button-font-color: var(--colour-white);


  --example-background: var(--color-white);
  --example-border-color: var(--color-gray-70);
  --kbd-background: var(--panel-background);
  --kbd-border-color: var(--color-gray-10);
  --pre-background: var(--panel-background);
  --pre-border-color: var(--panel-border-color);
  --pre-annotation-font-color: var(--color-gray-10);
  --quote-background: var(--panel-background);
  --quote-border-color: var(--color-gray-70);
  --quote-font-color: var(--color-gray-70);
  --quote-attribution-font-color: var(--color-gray-30);
  --sidebar-background: var(--color-smoke-90);
  --table-border-color: var(--panel-border-color);

  /* footer */
  --footer-line-height: var(--doc-line-height);
  --footer-background: var(--colour-grey-800);
  --footer-font-color: var(--colour-grey-500);
  --footer-link-font-color: var(--colour-grey-400);
  --footer-link_hover-font-color: var(--colour-grey-400);

  /* dimensions and positioning */
  --navbar-height: calc(68 / var(--rem-base) * 1rem);
  --toolbar-height: calc(45 / var(--rem-base) * 1rem);
  --drawer-height: var(--toolbar-height);
  --body-top: var(--navbar-height);
  --body-min-height: calc(100vh - var(--body-top));
  --nav-height: calc(var(--body-min-height) - var(--toolbar-height));
  --nav-height--desktop: var(--body-min-height);
  --nav-panel-height: calc(var(--nav-height) - var(--drawer-height));
  --nav-panel-height--desktop: calc(var(--nav-height--desktop) - var(--drawer-height));
  --nav-width: calc(270 / var(--rem-base) * 1rem);
  --toc-top: calc(var(--body-top) + var(--toolbar-height));
  --toc-height: calc(100vh - var(--toc-top) - 2.5rem);
  --toc-width: calc(162 / var(--rem-base) * 1rem);
  --toc-width--widescreen: calc(216 / var(--rem-base) * 1rem);
  --doc-max-width: calc(720 / var(--rem-base) * 1rem);
  --doc-max-width--desktop: calc(828 / var(--rem-base) * 1rem);

  /* stacking */
  --z-index-nav: 1;
  --z-index-toolbar: 2;
  --z-index-page-version-menu: 3;
  --z-index-navbar: 4;
}
