:root {

  /* --palette-baltic-50: #0A6190; */
  /* --palette-baltic-60: #014063; */

  /* theme accent colors */
  --dark--color-developer: var(--palette-forest-40);
  --dark--color-labs: var(--palette-lavender-20);
  --dark--color-labs-weak: var(--palette-lavender-40);
  --dark--color-docs: var(--palette-baltic-20);
  --dark--color-docs-weak: var(--palette-baltic-25);
  --dark--color-kb: var(--palette-lavender-20);
  --dark--color-training: var(--palette-hibiscus-20);
  --dark--color-graphgists: var(--palette-lavender-20);

  /* fonts */
  --dark--rem-base: 18; /* used to compute rem value from desired pixel value (e.g., calc(18 / var(--rem-base) * 1rem) = 18px) */
  --dark--body-font-weight: var(--font-weight-light);
  --dark--body-font-size: 1.0625em; /* 17px */
  --dark--body-font-size--desktop: 1em; /* 18px */
  --dark--body-font-size--print: 0.9375em; /* 15px */
  --dark--body-line-height: 1.5;
  --dark--body-font-color: var(--palette-neutral-15);
  --dark--body-font-family: "Public Sans", "Nunito Sans", "Helvetica Neue", helvetica, roboto, arial, sans-serif;
  --dark--body-font-weight-bold: var(--font-weight-semibold);
  --dark--monospace-font-family: "Roboto Mono", monospace;
  --dark--monospace-font-weight-bold: var(--font-weight-medium);

  /* base */
  --dark--body-background: var(--theme-dark-color-neutral-bg-default);
  --dark--panel-background: var(--theme-dark-color-neutral-bg-weak);
  --dark--panel-border-color: var(--palette-neutral-20);
  --dark--panel_hover-border-color: var(--dark--color-docs);
  --dark--scrollbar-thumb-color: var(--theme-dark-color-neutral-bg-strong);

  /* navbar */
  --dark--navbar-background: var(--theme-dark-color-neutral-bg-weak);
  --dark--hero-fade: var(--theme-dark-color-neutral-bg-strong);
  --dark--navbar-font-color: var(--theme-dark-color-neutral-text-default);
  --dark--navbar-font-weight: 400;
  --dark--navbar_hover-background: transparent;
  --dark--navbar-menu-border-color: var(--theme-dark-color-neutral-border-strong);
  --dark--navbar-menu-background: var(--theme-dark-color-neutral-bg-weak);
  --dark--navbar-menu-font-color: var(--body-font-color);
  --dark--navbar-menu_hover-background: transparent;
  --dark--navbar-top-border: var(--palette-neutral-20);
  --dark--navbar-bottom-border: var(--theme-dark-color-neutral-border-weak);
  --dark--navbar-dropdown-link: var(--dark--color-docs);
  --dark--navbar-dropdown_hover-link: var(--dark--color-docs);
  --dark--navbar-training-border: var(--color-developer);
  --dark--navbar-developer-border: var(--color-developer);
  --dark--navbar-docs-border: var(--dark--color-docs);
  --dark--navbar-labs-border: var(--color-labs);
  --dark--navbar-kb-border: var(--color-kb);

  /* buttons */
  --dark--button-background: var(--theme-dark-color-neutral-bg-on-bg-weak);
  --dark--button-border-color: var(--dark--color-docs);
  --dark--button-font-color: var(--theme-dark-color-neutral-text-weak);
  --dark--hover-button-background: var(--dark--color-docs);
  --dark--hover-button-border-color: var(--theme-dark-color-neutral-text-inverse);
  --dark--hover-button-font-color: var(--theme-dark-color-neutral-text-inverse);

  /* banner */
  --dark--warning-banner-color: var(var(--dark--body-font-color));

  /* nav */
  --dark--nav-background: var(--theme-dark-color-neutral-bg-weak);
  --dark--nav-border-color: var(--theme-dark-color-neutral-border-weak);
  --dark--nav-font-weight: 400;
  --dark--nav_active-font-weight: 400;
  --dark--nav-line-height: 1.2;
  --dark--nav-heading-font-color: var(--palette-neutral-55);
  --dark--nav-muted-color: var(--palette-neutral-40);
  --dark--nav-panel-divider-color: var(--theme-dark-color-neutral-border-weak);
  --dark--nav-secondary-background: var(--palette-neutral-30);
  --dark--nav-bullet-color: var(--palette-neutral-40);
  --dark--dropdown-background-color: var(--theme-dark-color-neutral-bg-strong);
  --dark--dropdown-border-color: var(--theme-dark-color-neutral-border-weak);

  /* toolbar */
  --dark--toolbar-background: var(--dark--panel-background);
  --dark--toolbar-border-color: var(--theme-dark-color-neutral-border-weak);
  --dark--toolbar-font-color: var(--theme-dark-color-neutral-bg-weak);
  --dark--toolbar-muted-color: var(--palette-neutral-50);
  --dark--page-version-menu-background: var(--palette-neutral-10);
  --dark--page-version-menu-border: var(--palette-neutral-30);
  --dark--page-version-missing-font-color: var(--palette-neutral-30);

  /* breadcrumbs */
  --dark--breadcrumbs-color: var(--theme-dark-color-neutral-text-default);

  /* toc */
  --dark--toc-font-color: var(--theme-dark-color-neutral-text-default);
  --dark--toc-active-font-color: var(--dark--color-docs);
  --dark--toc-active-background-color: var(--palette-baltic-10);
  --dark--toc-hover-background-color: var(--theme-dark-color-primary-hover-weak);
  --dark--toc-hover-color: var(--theme-dark-color-neutral-text-default);
  --dark--toc-heading-font-color: var(--dark--color-docs);
  --dark--toc-item-font-color: var(--theme-dark-color-neutral-text-default);
  --dark--toc-border-color: var(--theme-dark-color-neutral-border-weak);
  --dark--toc-line-height: 1.4;
  --dark--toc-bullet-color: var(--palette-baltic-50);

  /* kb metadata */
  --dark--kb-metadata-font-color: var(--theme-dark-color-neutral-bg-weak);

  /* admonitions
     NB: admonitions are dark text on light background
     to use the same colors on labels, reverse the
     background and color */

  --dark--admonition-font-color: var(--theme-dark-color-neutral-text-inverse);

  /* NOTE */
  --dark--note-color: var(--theme-dark-color-primary-bg-strong);
  --dark--note-border-color: var(--theme-dark-color-primary-border-weak);
  --dark--note-background-color: var(--theme-dark-color-primary-bg-weak);

  /* TIP */
  --dark--tip-color: var(--theme-dark-color-success-bg-strong);
  --dark--tip-border-color: var(--theme-dark-color-success-border-weak);
  --dark--tip-background-color: var(--theme-dark-color-success-bg-weak);

  /* IMPORTANT */
  --dark--important-color: var(--palette-lavender-10);
  --dark--important-border-color: var(--palette-lavender-20);
  --dark--important-background-color: var(--palette-lavender-70);

  /* CAUTION */
  --dark--caution-color: var(--theme-dark-color-warning-bg-strong);
  --dark--caution-border-color: var(--theme-dark-color-warning-border-weak);
  --dark--caution-background-color: var(--theme-dark-color-warning-bg-weak);

  /* WARNING */
  --dark--warning-color: var(--theme-dark-color-danger-bg-strong);
  --dark--warning-border-color: var(--theme-dark-color-danger-border-weak);
  --dark--warning-background-color: var(--theme-dark-color-danger-bg-weak);

  /* FEATURED */
  --dark--featured-color: var(--palette-hibiscus-10);
  --dark--featured-border-color: var(--palette-lavender-50);
  --dark--featured-background-color: var(--palette-hibiscus-70);

  /* EXAMPLE */
  --dark--example-color: var(--theme-dark-color-neutral-bg-strong);
  --dark--example-border-color: var(--theme-dark-color-neutral-border-weak);
  --dark--example-background-color: var(--theme-dark-color-neutral-bg-weak);

  /* success */
  --dark--success-color: var(--theme-dark-color-success-bg-strong);
  --dark--success-background-color: var(--theme-dark-color-success-bg-weak);

  /* neutral */
  --dark--neutral-color: var(--theme-dark-color-neutral-text-default);
  --dark--neutral-background-color: var(--theme-dark-color-neutral-bg-default);

  /* feedback */
  --dark--feedback-color: var(--dark--color-docs);
  --dark--feedback-background-color: var(--theme-dark-color-primary-bg-weak);
  --dark--feedback-positive-color: var(--theme-dark-color-success-bg-weak);
  --dark--feedback-positive-background-color: var(--theme-dark-color-success-bg-strong);
  --dark--feedback-negative-color: var(--theme-dark-color-danger-bg-weak);
  --dark--feedback-negative-background-color: var(--theme-dark-color-danger-bg-strong);

  /* tooltip (glossary) */
  --dark--tooltip-background: var(--theme-dark-color-neutral-bg-default);
  --dark--tooltip-header-background: var(--theme-dark-color-neutral-bg-strong);
  --dark--tooltip-border-color: var(--theme-dark-color-neutral-border-strong);
  --dark--tooltip-font-color: var(--dark--body-font-color);
  --dark--tooltip-header-font-color: var(--dark--body-font-color);

  /* tbc: success indicator for tutorials */
  --dark--success-color: var(--theme-dark-color-success-bg-strong);
  --dark--success-background-color: var(--theme-dark-color-success-bg-weak);

  /* doc */
  --dark--doc-font-color: var(--theme-dark-color-neutral-text-weak);
  --dark--doc-font-size: inherit;
  --dark--doc-font-size--desktop: var(--font-size-body-large);
  /* --doc-line-height: var(--space-7); */
  --dark--doc-line-height: 1.8;
  --dark--doc-margin: 0 auto;
  --dark--doc-margin--desktop: 0 2rem;

  /* headers */
  --dark--doc-font-size-h1: var(--typography-title-2-font-size);
  --dark--doc-font-size-h2: var(--typography-title-3-font-size);
  --dark--doc-font-size-h3: var(--typography-title-4-font-size);
  --dark--doc-font-size-h4: var(--typography-title-5-font-size);
  --dark--doc-font-size-h5: var(--typography-title-6-font-size);
  --dark--doc-font-size-h6: calc(var(--typography-title-6-font-size) * 0.75);
  --dark--heading-font-color: var(--theme-dark-color-neutral-text-default);
  --dark--heading-font-weight: var(--font-weight-normal);
  --dark--alt-heading-font-weight: var(--body-font-weight-bold);
  --dark--section-divider-color: var(--palette-neutral-20);

  /* links */
  --dark--link-font-color: var(--dark--color-docs);
  --dark--link_hover-font-color: var(--palette-baltic-30);
  --dark--link_visited-font-color: var(--palette-baltic-35);
  --dark--link_unresolved-font-color: var(--important-color);

  /* abstract */
  --dark--abstract-background: var(--theme-dark-color-neutral-bg-on-bg-weak);
  --dark--abstract-font-color: var(--theme-dark-body-font-color);
  --dark--abstract-border-color: var(--dark--color-docs);
  --dark--admonition-background: var(--dark--panel-background);
  --dark--admonition-label-font-weight: var(--body-font-weight-bold);
  --dark--caption-background: var(--theme-dark-color-neutral-bg-on-bg-weak);
  --dark--caption-font-color: var(--theme-dark-color-neutral-text-default);
  --dark--caption-font-weight: var(--body-font-weight-bold);

  /* toc ad */
  --dark--toc-ad-border-color: var(--dark--color-docs);
  --dark--toc-ad-background: var(--theme-dark-color-neutral-bg-on-bg-weak);
  --dark--toc-ad-font-color: var(--dark--color-docs);
  --dark--toc-ad-title-color: var(--dark--color-docs);
  --dark--toc-ad-button-background: var(--dark--color-docs);
  --dark--toc-ad-button-font-color: var(--theme-dark-color-neutral-text-inverse);

  /* code */
  --dark--code-border-color: var(--theme-dark-color-neutral-border-weak);
  --dark--code-header-background: var(--theme-dark-color-neutral-bg-on-bg-weak);
  --dark--code-header-font-color: var(--dark--body-font-color);
  --dark--code-header-font-size: var(--font-size-body-medium);
  --dark--code-background: var(--theme-dark-color-neutral-bg-on-bg-weak);
  --dark--code-result-background: var(--theme-dark-color-neutral-bg-default);
  --dark--code-result-font-color: var(--theme-dark-color-neutral-text-default);
  --dark--code-font-color: var(--theme-dark-color-neutral-text-default);
  --dark--code-button-background: var(--theme-dark-color-neutral-bg-weak);
  --dark--code-button-active-background: var(--palette-neutral-60);
  --dark--code-button-disabled-background: var(--palette-neutral-80);
  --dark--code-button-font-color: var(--theme-dark-color-neutral-bg-weak);
  --dark--inline-code-background: var(--theme-dark-color-neutral-bg-strong);
  --dark--inline-code-font-color: var(--dark--body-font-color);
  --dark--pre-background: var(--panel-background);
  --dark--pre-border-color: var(--panel-border-color);
  --dark--pre-annotation-font-color: var(--theme-dark-color-neutral-bg-weak);
  --dark--code-copy-success-background: var(--theme-dark-color-neutral-bg-on-bg-weak);
  --dark--code-copy-success-border: var(--dark--color-docs);
  --dark--code-copy-success-color: var(--theme-dark-color-neutral-text-weak);

  /* examples */
  --dark--example-header-background: var(--theme-dark-color-neutral-bg-default);
  --dark--example-header-font-color: var(--theme-dark-color-neutral-text-default);
  --dark--example-background: var(--palette-neutral-10);
  --dark--example-border-color: var(--theme-dark-color-neutral-bg-strong);

  /* quotes */
  --dark--quote-background: var(--theme-dark-color-neutral-bg-on-bg-weak);
  --dark--quote-border-color: var(--dark--color-docs);
  --dark--quote-font-color: var(--theme-dark-color-neutral-text-default);
  --dark--quote-attribution-font-color: var(--theme-dark-color-neutral-text-default);
  --dark--sidebar-background: var(--theme-dark-color-neutral-bg-strong);

  /* tables */
  --dark--table-border-color: var(--theme-dark-color-neutral-bg-strong);
  --dark--table-header-color: var(--theme-dark-color-neutral-bg-strong);
  --dark--table-stripe-background: var(--theme-dark-color-neutral-bg-on-bg-weak);
  --dark--kbd-background: var(--panel-background);
  --dark--kbd-border-color: var(--palette-neutral-40);

  /* tabbed sections */
  --dark--tabbed-section-border-color: var(--dark--color-docs);
  --dark--tabbed-section-background: var(--theme-dark-color-neutral-bg-on-bg-weak);
  --dark--tabbed-section-tabs-border-color: var(--theme-dark-color-neutral-border-strong);
  /* --dark--tabbed-section-tab-font-color: var(--dark--body-font-color); */
  --dark--tabbed-section-tab-hover-background: var(--theme-dark-color-neutral-border-strong);
  --dark--tabbed-section-tab-active-background: var(--theme-dark-color-primary-bg-strong);
  --dark--tabbed-section-tab-active-font-color: var(--theme-dark-color-primary-bg-strong);

  /* images */
  --dark--image-opacity: 0.9;

  /* roles */
  --dark--deprecated-color: var(--theme-dark-color-danger-bg-strong);
  --dark--deprecated-background-color: var(--theme-dark-color-danger-bg-weak);
  --dark--label-warning-color: var(--warning-background-color);
  --dark--label-warning-background-color: var(--warning-color);
  --dark--aura-db-enterprise-color: var(--palette-baltic-10);
  --dark--aura-db-enterprise-background-color: var(--palette-baltic-50);
  --dark--aura-db-dedicated-color: var(--palette-baltic-10);
  --dark--aura-db-dedicated-background-color: var(--palette-baltic-50);
  --dark--enterprise-edition-color: var(--palette-baltic-10);
  --dark--enterprise-edition-background-color: var(--palette-baltic-50);
  --dark--fabric-color: var(--palette-baltic-10);
  --dark--fabric-background-color: var(--palette-baltic-50);
  --dark--alpha-beta-color: var(--palette-marigold-10);
  --dark--alpha-beta-background-color: var(--palette-marigold-50);

  /* feedback */
  --dark--feedback-background: var(--theme-dark-color-primary-bg-weak);
  --dark--feedback-color: var(--dark--color-docs);
  --dark--feedback-border-color: var(--dark--color-docs);
  --dark--feedback-negative-background: var(--theme-dark-color-primary-bg-weak);
  --dark--feedback-negative-color: var(--dark--color-docs);
  --dark--feedback-positive-background: var(--theme-dark-color-primary-bg-weak);
  --dark--feedback-positive-color: var(--dark--color-docs);
  --dark--feedback-textarea-background: var(--theme-dark-color-neutral-bg-on-bg-weak);
  --dark--feedback-textarea-color: var(--dark--body-font-color);
  --dark--feedback-primary-background: var(--theme-dark-color-neutral-bg-on-bg-weak);
  --dark--feedback-primary-border-color: var(--theme-dark-color-neutral-border-weak);
  --dark--feedback-primary-color: var(--dark--body-font-color);
  --dark--feedback-secondary-background: var(--theme-dark-color-neutral-bg-strong);
  --dark--feedback-secondary-border-color: var(--theme-dark-color-neutral-border-weak);
  --dark--feedback-secondary-color: var(--dark--body-font-color);
  --dark--feedback-input-background: var(--theme-dark-color-neutral-bg-strong);

  /* footer */
  --dark--footer-border-color: var(--theme-dark-color-neutral-border-weak);
  --dark--footer-font-size: var(--typography-body-medium);
  --dark--footer-line-height: var(--doc-line-height);
  --dark--footer-background: var(--color-black);
  --dark--footer-font-color: var(--palette-neutral-10);
  --dark--footer-link-font-color: var(--palette-neutral-10);
  --dark--footer-link_hover-font-color: var(--palette-neutral-20);

  /* dimensions and positioning */
  --dark--navbar-height: calc(68 / var(--rem-base) * 1rem);
  --dark--toolbar-height: calc(45 / var(--rem-base) * 1rem);
  --dark--drawer-height: var(--toolbar-height);
  --dark--body-top: var(--navbar-height);
  --dark--body-min-height: calc(100vh - var(--body-top));
  --dark--nav-height: calc(var(--body-min-height) - var(--toolbar-height));
  --dark--nav-height--desktop: var(--body-min-height);
  --dark--nav-panel-height: calc(var(--nav-height) - var(--drawer-height));
  --dark--nav-panel-height--desktop:
    calc(
      var(--nav-height--desktop) - var(--drawer-height)
    );
  --dark--nav-width: 18rem;
  --dark--toc-top: calc(var(--body-top) + var(--toolbar-height));
  --dark--kb-metadata-top: calc(var(--body-top) + var(--toolbar-height));
  --dark--toc-height: calc(100vh - var(--toc-top) - 8.5rem);
  --dark--toc-width: 274px;
  --dark--kb-metadata-width: calc(216 / var(--rem-base) * 1rem);
  --dark--toc-width--widescreen: 274px;
  --dark--kb-metadata-width--widescreen: calc(244 / var(--rem-base) * 1rem);
  --dark--toolbar-wrapper-width: 69rem;
  --dark--doc-max-width: calc(720 / var(--rem-base) * 1rem);
  --dark--doc-max-width--desktop: calc(980 / var(--rem-base) * 1rem);
  --dark--cheat-sheet-max-width--desktop: calc(1100 / var(--rem-base) * 1rem);

  /* stacking */
  --dark--z-index-nav: 1;
  --dark--z-index-toolbar: 20;
  --dark--z-index-code: 10;
  --dark--z-index-page-version-menu: 3;
  --dark--z-index-navbar: 5000;

  /* landing page */
  --dark--landing-leading-background: var(--theme-dark-color-neutral-bg-default);

  /* Label colors */
  --dark--label-group-syntax: #e6e6e6;

  /* docs home, hub etc */
  --dark--hub-highlight-border: var(--palette-baltic-30);
  --dark--hub-highlight-background: var(--dark--color-docs);
  --dark--hub-ga-card-background: var(--theme-dark-color-success-bg-weak);
  --dark--hub-ga-border-color: var(--theme-dark-color-success-border-strong);

  /* cheat sheet */
  --dark--cheat-sheet-example-background: var(--theme-dark-color-neutral-bg-default);
  --dark--cheat-sheet-example-border-color: var(--theme-dark-color-neutral-border-weak);
}
