<div class="feedback">
    <div class="header question">
        <p><strong>Was this page helpful?</strong></p>

        <svg width="22px" height="22px" viewBox="0 0 22 22" role="button" class="no" aria-label="No, this page isn't helpful">
            <path
                d="M6.25,15.8333333 C6.25,13.7622655 7.92893219,12.0833333 10,12.0833333 C12.0710678,12.0833333 13.75,13.7622655 13.75,15.8333333"
                ></path>
            <circle  cx="10" cy="10" r="9.58333333"></circle>
            <path
                d="M12.5,4.58333333 C12.8934466,4.05873783 13.5109223,3.75 14.1666667,3.75 C14.822411,3.75 15.4398867,4.05873783 15.8333333,4.58333333"
                ></path>
            <line x1="4.58333333" y1="7.91666667" x2="7.08333333" y2="7.91666667" ></line>
            <path
                d="M7.08333333,8.54166667 C6.96827401,8.54166667 6.875,8.44839266 6.875,8.33333333 C6.875,8.21827401 6.96827401,8.125 7.08333333,8.125 C7.19839266,8.125 7.29166667,8.21827401 7.29166667,8.33333333 C7.29166667,8.44839266 7.19839266,8.54166667 7.08333333,8.54166667"
                ></path>
            <line x1="12.9166667" y1="7.91666667" x2="15.4166667" y2="7.91666667" ></line>
            <path
                d="M15.4166667,8.54166667 C15.3016073,8.54166667 15.2083333,8.44839266 15.2083333,8.33333333 C15.2083333,8.21827401 15.3016073,8.125 15.4166667,8.125 C15.531726,8.125 15.625,8.21827401 15.625,8.33333333 C15.625,8.44839266 15.531726,8.54166667 15.4166667,8.54166667"
                ></path>
            <path
                d="M4.16666667,4.58333333 C4.5601133,4.05873783 5.17758895,3.75 5.83333333,3.75 C6.48907772,3.75 7.10655337,4.05873783 7.5,4.58333333"
                ></path>
        </svg>

        <svg width="22px" height="22px" viewBox="0 0 22 22" role="button" class="yes" aria-label="Yes, this page is helpful">
            <circle  cx="10" cy="10" r="9.58333333"></circle>
            <path
                d="M5.41666667,8.125 C5.53172599,8.125 5.625,8.21827401 5.625,8.33333333 C5.625,8.44839266 5.53172599,8.54166667 5.41666667,8.54166667 C5.30160734,8.54166667 5.20833333,8.44839266 5.20833333,8.33333333 C5.20833333,8.21827401 5.30160734,8.125 5.41666667,8.125"
                ></path>
            <path
                d="M14.5833333,8.125 C14.468274,8.125 14.375,8.21827401 14.375,8.33333333 C14.375,8.44839266 14.468274,8.54166667 14.5833333,8.54166667 C14.6983927,8.54166667 14.7916667,8.44839266 14.7916667,8.33333333 C14.7916667,8.21827401 14.6983927,8.125 14.5833333,8.125"
                ></path>
            <path
                d="M13.2275,12.9166657 C13.4853075,12.9162808 13.7287776,13.035241 13.8869095,13.2388563 C14.0450415,13.4424715 14.1000278,13.7078123 14.0358333,13.9575 C13.562901,15.7999679 11.9021969,17.0882321 10,17.0882321 C8.09780311,17.0882321 6.43709903,15.7999679 5.96416667,13.9575 C5.89997223,13.7078123 5.95495852,13.4424715 6.11309045,13.2388563 C6.27122239,13.035241 6.51469246,12.9162808 6.7725,12.9166657 L13.2275,12.9166657 Z"
                ></path>
        </svg>
    </div>

    {{!--
    <div class="header thank-you-positive">
        <p><strong>Thank you for your feedback!</strong></p>
    </div>

    <div class="header thank-you-negative">
        <p><strong>Thank you for your feedback!</strong></p>
        <p>We will take this information into account while updating our documentation.</p>
    </div>

    <form class="form">
        <div class="header">
            <p><strong>We're sorry to hear that. How could we improve this page?</strong></p>
            <svg width="14px" height="22px" viewBox="0 0 22 22" role="button" class="cancel">
                <line x1="19.5833333" y1="0.416666667" x2="0.416666667" y2="19.5833333" ></line>
                <line x1="19.5833333" y1="19.5833333" x2="0.416666667" y2="0.416666667" ></line>
            </svg>
        </div>

        <div>
            <input id="missing" type="radio" data-reason="missing" name="specific" value="missing" checked="true">
            <label for="missing">It has missing information</label>
        </div>

        <div>
            <input id="hard-to-follow" type="radio" data-reason="hard-to-follow" name="specific" value="hard-to-follow">
            <label for="hard-to-follow">It's hard to follow or confusing</label>
        </div>

        <div>
            <input id="inaccurate" type="radio" data-reason="inaccurate" name="specific" value="inaccurate">
            <label for="inaccurate">It's inaccurate, out of date, or doesn't work</label>
        </div>


        <div>
            <input id="other" type="radio" data-reason="other" name="specific" value="other">
            <label for="other">Something else</label>
        </div>


        <div class="more-information">
            <label for="more-information"><strong>More information</strong></label>
            <textarea id="more-information" type="text" rows="3" cols="50" name="more-information" style="resize:none"></textarea>
        </div>

        <div class="buttons">
            <input type="button" class="primary" data-submit="submit" value="Submit feedback">
            <input type="button" class="secondary" data-submit="skip" value="Skip">
        </div>
    </form>
    --}}

</div>