<!DOCTYPE html>
<html lang="en">
  <head>
{{> head defaultPageTitle='Untitled'}}
  </head>
  <body class="article center-align{{#with (or page.attributes.role page.role)}} {{{this}}}{{/with}}{{#with asciidoc.attributes.role}} {{{this}}}{{/with}}{{#with (or page.attributes.theme "developer")}} {{{this}}}{{/with}}">
{{> header}}

<div class="body">

<main class="article">
  {{!-- toolbar for responsive nav --}}
{{> toolbar }}

  <div class="content">
{{> article}}
  </div>
</main>
</div>



{{> footer}}
  </body>
</html>
