name: Release

on:
  push:
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v2.1.3

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js 14
        uses: actions/setup-node@v4
        with:
          node-version: '14'
      - run: npm install
      - run: npm run lint
      - run: npm run build
      - run: cp build/ui-bundle.zip build/ui-bundle-${GITHUB_REF##*/}.zip
      - run: cp build/ui-bundle.zip build/ui-bundle-latest.zip
        env:
          GITHUB_REF: ${{ github.ref }}

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE }}[
          aws-region: eu-west-1
          role-session-name: GitHub-OIDC-docs-ui

      - name: Sync UI Bundle to S3
        run: |
          aws s3 sync --follow-symlinks --include '*.zip' --no-progress build s3://${{ secrets.STATIC_CONTENT_BUCKET }}/build
